.escrow-deposit {
  .btn-close {
    &:focus {
      box-shadow: none;
    }
  }
  .wrapper {
    padding: 0px !important;
  }

  .form-deposit-custom {
    padding-left: 32px;
    &::placeholder {
      color: #828AA8;
      opacity: 0.8;
    }
  }
  .icon-deposit {
    width: 25px;
    top: 6px;
    left: 5px;
    position: absolute;
  }
  .percentage-symbol {
    top: 6px;
    right: 5px;
    position: absolute;
  }
  .amount-label {
    width: 130px;
  }
  .percentage-label {
    width: 80px;
  }
  .price-label {
    width: 130px;
  }
  .amount-input {
    width: 130px;
    vertical-align: top;
  }
  .percentage-input {
    width: 80px;
    vertical-align: top;
  }
  .price-info {
    width: 130px;
    line-height: 38px;
    vertical-align: top;
  }
}
