.ex-sticky-report {
  font-size: 14px;
  text-align: center;
  color: white;
  position: fixed;
  bottom: 60px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 414px;
  background-color: black;
  z-index: 2;
  padding: 10px 0;
  .btn-report {
    min-width: 150px;
    border: 1px solid white;
    background: black;
    color: white;
  }
}
