.coins-wrapper {
  overflow: auto;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  //padding-left: 8px;
  .coin-item {
    display: inline-block;
    min-width: 148px;
    color: white;
    border-radius: 6px;
    margin-right: 12px;
    margin-top: 12px;
    padding: 10px 10px 0 10px;
    position: relative;
    .btn-close-card {
      color: #ffffff;
      position: absolute;
      right: 0;
      top: 0;
      background: none;
      border: 1px solid white;
      border-right: 0;
      border-top: 0;
      border-bottom-left-radius: 6px;
      padding: 0 6px;
      -webkit-appearance: none;
      -moz-appearance:    none;
      appearance:         none;
    }
    .name {
      font-size: 12px;
      color: #FFFFFF;
      letter-spacing: 0.5px;
    }
    .icon-coin {
      //width: 50px;
      display: inline-block;
      position: absolute;
      top: -11px;
      left: -9px;
    }
    .price-wrapper {
      font-weight: 500;
      font-size: 12px;
      color: #FFFFFF;
      letter-spacing: 0.21px;
      label {
        min-width: 36px;
      }
      .price {
        font-weight: 700;
        font-size: 16px;
        letter-spacing: 0.29px;
      }
    }
  }
}
