.business-table {
  font-size: 14px;
  &, thead, tbody {

  }
  thead {
    background-color: $app_background;
    th {
      border-bottom: 1px solid $hr;
      border-top: none;

    }
  }
  .name {

  }
  .status {
    width: 15%;
    text-transform: lowercase;
    &::first-letter {
      text-transform: uppercase;
    }
    font-weight: bold;
  }
  .download {
    width: 15%;
    // text-align: center;
  }
  .actions {
    width: 20%;
    max-width: 55px;
    * {
      vertical-align: middle;
    }
    a {
      margin-right: 5px;
      display: inline-block;
    }
    .btn {
      .ionicons {
        font-size: 15px;
        line-height: 15px;
      }
    }
  }
}
