.collapse-header {
  user-select: none;
  cursor: pointer;
  padding: 32px 0 16px;
  font-size: 14px;
  border-bottom: 1px solid $border;
  &.first {
    padding-top: 0;
  }
  span {
    position: relative;
    display: block;
    font-weight: bold;
    &::after {
      transition: 0.3s;
      content: "\f3d3";
      font-family: "Ionicons";
      float: right;
      display: block;
      font-size: 22px;
    }
  }
  &.is-open {
    border-bottom: 1px solid $green;
    color: $green;
    span {
      &::after {
        transform: rotate(90deg);
      }
    }
  }
}

.form-collapse {
  .form-section {
    margin: 40px 0 10px;
  }
}
