.horizontal-list {
  width: 100%;
  padding: rem-calc(11px 0);
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  .horizontal-list-item {
    display: inline-block;
    margin-right: rem-calc(5px);
    padding: rem-calc(6px 11px);
    background: $white;
    box-shadow: rem-calc(0 2px 4px 0) rgba(203, 203, 203, 0.50);
    border-radius: 6px;
    &:hover {
      cursor: pointer;
    }
    &:last-child {
      margin-right: 0;
    }
    img {
      width: 22px;
      margin-right: rem-calc(8px);
    }
    span {
      font-size: rem-calc(14px);
    }
    &.active {
      background: #383d41 !important;
      color: $white;
    }
  }
}
