.radio-container {
  &.inline {
    text-align: right;
    .radio {
      display: inline-block;
    }
  }
  .radio {
    margin-left: 30px;
    input {

    }
    .radio-label {
      margin-bottom: 0;
      display: inline-block;
      cursor: pointer;
      font-size: 14px;
      font-weight: normal;
      padding-left: 10px;
    }
  }
}

.field-radio {
  line-height: 65px;
  * {
    margin-bottom: 0;
    vertical-align: middle;
  }
}
