@import './src/styles/style';

.form-error {
  border: none;
  font-weight: bold;
  color: #d9534f;
}

.CreateMarket {
  margin: 0 -20px;
}

.EmailRequiredContainer {
  display: flex;
  padding: 40px;
  align-self: stretch;
  flex-direction: column;
  font-size: rem-calc(16px);
  text-align: center;
  background-color: #F6F9FA;
  .EmailRequiredTitle {
    color: #000000;
    font-size: rem-calc(18px);
    font-weight: 700;
    margin: -15px 0 10px 0;
  }
  .EmailRequiredNoted {
    margin-bottom: 15px;
  }
  .EmailRequiredForm {
    input[name="email"] {
      outline: none;
      display: block;
      width: 100%;
      color: #000000;
      text-align: center;
      margin-bottom: 10px;
      padding: 5px 10px;
      border: 2px solid #E9E9E9;
      border-radius: 6px;
    }
    input[name="email"]::placeholder {
      color: #8A8A8F;
      font-weight: 300;
    }
  }
}

.CreateEventTitle {
  text-transform: uppercase;
  font-size: rem-calc(16px);
  font-weight: 700;
  margin-bottom: 10px;
}

.EventDropdown {
  select[name="event"] {
    // -webkit-appearance: none;
    // -moz-appearance: none;
    // appearance: none;
    outline: none;
    display: block;
    width: 100%;
    padding: 5px 10px;
    border: 2px solid #E9E9E9;
    border-radius: 6px;
  }
}

.CreateEventOption {
  display: block;
  text-align: center;
  margin: 15px 0;
  font-size: rem-calc(18px);
  font-weight: 700;
  text-transform: uppercase;
}


// Share Market
.ShareMarketContainer {
  padding: 40px 20px;
  text-align: center;

  .checkmark {
    display:inline-block;
    width: 48px;
    height: 48px;
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
    margin-bottom: 20px;
  }

  .checkmark_circle {
    position: absolute;
    width: 48px;
    height: 48px;
    background-color: #E0FFE1;
    border-radius: 50%;
    left: 0;
    top: 0;
    border: 2px solid #C1F9C7;
  }

  .checkmark_stem {
    position: absolute;
    width: 3px;
    height: 24px;
    background-color: #4CDB52;
    left: 26px;
    top: 8px;
  }

  .checkmark_kick {
    position: absolute;
    width: 12px;
    height: 3px;
    background-color: #4CDB52;
    left: 15px;
    top: 29px;
  }

  .ShareEventMessage {
    position: relative;
    padding-bottom: 80px;
    &:after {
      content: '';
      display: inline-block;
      height: 1px;
      background-color: #E4E4E4;
      width: 100px;
      position: absolute;
      bottom: 40px;
      left: 50%;
      margin-left: -50px;
    }
  }

  .ShareEventToBuddies {
    .ShareEventToBuddiesTitle {
      margin-bottom: 20px;
    }
  }
}
