@import './src/styles/style';

.mobileTabletApp {
  background: url("../../assets/images/ninja/background-homepage.svg") no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  overflow-y: auto;
  //padding: rem-calc(50px 0);
}

.root {
  height: 100%;
}

.mobile-tablet {
  //height: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: rem-calc(50px 0);
  margin: 0 auto;
  font-family: motiva-sans, sans-serif;
  font-style: normal;
  & > .row {
    width: 100%;
    height: 100%;
  }
  .firstSection {
    margin-bottom: rem-calc(10px);
    & > div:first-child {
      img {
        margin-right: rem-calc(24px);
      }
      justify-content: center;
      align-items: center;
    }
  }
  .secondSection {
    margin-bottom: rem-calc(95px);
    & > div:first-child {
      margin: 0 auto;
      padding: rem-calc(0 54px);
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        max-width: rem-calc(65px);
        margin-right: rem-calc(24px);
      }
    }
    & > div:last-child {
      margin: 0 auto;
      .embed-responsive {
        width: 80%;
      }
    }
  }
  .thirdSection {
    & > div:last-child {
      display: flex;
      align-items: center;
    }
    & > div:first-child {
      .embed-responsive {
        width: 93%;
      }
    }
  }
  .chooseLanguage {
    margin: 0 auto;
    font-size: rem-calc(18px);
    color: #9B9B9B;
    font-weight: $semi-bold;
    display: flex;
    justify-content: flex-end;
    .countryName {
      padding: rem-calc(0 7px);
      &:hover {
        cursor: pointer;
      }
      span {
        padding: rem-calc(5px 10px 0);
      }
    }
    .countryActive {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      top: rem-calc(-50px);
      &:before {
        content: url("../../assets/images/ninja/line-yellow.svg");
      }
      span {
        color: #FFFF00;
        font-weight: $semi-bold;
      }
    }
  }
  .imageHeader {
    max-width: rem-calc(202px);
  }
  .motListContent {
    display: flex;
  }
  h1 {
    font-size: rem-calc(22px);
    letter-spacing: 0;
    font-weight: $normal;
    color: #979797;
    line-height: rem-calc(30px);
    margin-bottom: rem-calc(16px);
  }
  p {
    font-size: rem-calc(18px);
    font-weight: $medium;
    color: #979797;
    letter-spacing: 0;
    line-height: rem-calc(27px);
    .website {
      text-decoration: none;
      border-bottom: 2px solid #FFFF00;
    }
    .whiteColor {
      color: #fff;
    }
  }
  ul {
    font-size: rem-calc(24px);
    color: #9B9B9B;
    letter-spacing: 0;
    line-height: rem-calc(24px);
    font-weight: $medium;
    list-style: none;
    //margin: 0 auto;
    padding-left: rem-calc(15px);
    li {
      img {
        width: rem-calc(21px);
        height: rem-calc(21px);
      }
      a {
        color: #9B9B9B;
        text-decoration: none;
        border-bottom: 2px solid #FFFF00;
      }
    }
    li + li {
      margin-top: rem-calc(16px);
    }
  }
  .topBox {
    display: flex;
    & > div:first-child {
      margin-right: rem-calc(40px);
    }
    & > div:last-child {
      margin-left: rem-calc(40px);
    }
  }
  .embed-responsive {
    box-shadow: -30px 30px 0 #000;
  }
}
