@import './src/styles/style';

.mobileTabletApp {
  background: url("../../assets/images/ninja/background-homepage.svg") no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  overflow-y: auto;
  padding: rem-calc(50px 0);
}

.root {
  height: 100%;
}

.mobile-tablet {
  //height: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 40px 0;
  margin: 0 auto;
  font-family: motiva-sans, sans-serif;
  font-style: normal;
  & > .row {
    width: 100%;
    height: 100%;
  }
  .firstSection {
    margin-bottom: rem-calc(10px);
    & > div:first-child {
      img {
        margin-right: rem-calc(24px);
      }
      justify-content: center;
      align-items: center;
    }
  }
  .secondSection {
    margin-bottom: rem-calc(95px);
    & > div:first-child {
      margin: 0 auto;
      padding: rem-calc(0 54px);
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        max-width: rem-calc(65px);
        margin-right: rem-calc(24px);
      }
    }
    & > div:last-child {
      margin: 0 auto;
      width: 90%;
    }
  }
  .thirdSection {
    //.embed-responsive-16by9::before {
    //  padding-top: 0 !important;
    //}
    & > div:last-child {
      display: flex;
      align-items: center;
    }
  }
  .chooseLanguage {
    margin: 0 auto;
    font-size: rem-calc(16px);
    color: #FFFFFF;
    font-weight: $light;
    display: flex;
    justify-content: flex-end;
    margin-bottom: rem-calc(60px);
    .countryName {
      padding: rem-calc(0 10px);
      &:hover {
        cursor: pointer;
      }
      span {
        padding: rem-calc(0 7.5px 5px);
      }
    }
    .countryName + .countryName {
      //border-left: 1px solid #666666;
    }
    .countryActive {
      &:before {
        content: "";
        background: url("../../assets/images/ninja/line-yellow.svg") no-repeat;
      }
      span {
        //border-bottom: 2px solid #FFFF00;
        color: #FFFF00;
        font-weight: $semi-bold;
      }
    }
  }
  .imageHeader {
    max-width: rem-calc(206px);
  }
  .motListContent {
    display: flex;
  }
  h1 {
    font-size: rem-calc(22px);
    color: #BCBCBC;
    letter-spacing: 0;
    font-weight: $normal;
  }
  p {
    font-size: rem-calc(18px);
    font-weight: $medium;
    color: #979797;
    letter-spacing: 0;
    line-height: rem-calc(24px);
    .website {
      color: #7491F1;
    }
    .whiteColor {
      color: #fff;
    }
  }
  ul {
    font-size: rem-calc(24px);
    color: #9B9B9B;
    letter-spacing: 0;
    line-height: rem-calc(24px);
    font-weight: $medium;
    list-style: none;
    margin: 0 auto;
    padding-left: 0;
    li {
      img {
        width: rem-calc(21px);
        height: rem-calc(21px);
      }
      a {
        color: #9B9B9B;
        text-decoration: none;
        border-bottom: 2px solid #FFFF00;
      }
    }
    li + li {
      margin-top: rem-calc(16px);
    }
  }
  .topBox {
    display: flex;
    & > div:first-child {
      margin-right: rem-calc(40px);
    }
    & > div:last-child {
      margin-left: rem-calc(40px);
    }
  }
  //.embed-responsive-16by9::before {
  //  padding-top: 0 !important;
  //}
  //.embed-responsive {
  //  iframe {
  //    max-height: rem-calc(182px) !important;
  //  }
  //  max-height: rem-calc(182px) !important;
  //}
  .embed-responsive {
    .imgCover {
      margin-top: -56.25%;
    }
    box-shadow: -30px 30px 0 #000;
  }
}
