.backupwallet{
    .bodyTitle{
        margin-left: 15px;
        margin-right: 15px;
        margin-top: 15px;
      }
      .bodyTitle{
        margin-left: 15px;
        margin-right: 15px;
        margin-top: 15px;
      }
      .bodyBackup{
        padding: 15px;
        overflow: hidden;
        margin: auto;
        width: 100%;
        margin-bottom: 5px;
          .button{
            width: 100%;
            padding-left: 30px;
            padding-right: 30px;
            margin-top: 15px;
          }
          textarea{
            width: 100%;
            height: 100px;
            color: #6b6b6b;
            border: 1px solid #ced4da;
          }
      
      }
      .error {
        border-color: #d0021b;
      }
}