
.video-youtube {
  .imgCover {
    position: relative;
    .icon {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      img {
        width: 50px;
      }
    }
  }
  .youTubeContainer {
    display: none;
  }
  .play-icon {
    display: inline-block;
    width: 58px;
	  height: 58px;
    background: url('https://d2q7nqismduvva.cloudfront.net/static/images/shop/2+icon+play.svg') no-repeat 0 0;
  }
}