@import "./src/styles/style";

.toggleShakeBetting {
  display: flex;
  border-radius: 2px;
  margin-top: rem-calc(30px);

  .itemToggle {
    flex: 50%;
    text-align: center;
    font-size: rem-calc(12px);
    font-weight: $medium;
    color: #efefef;
    letter-spacing: 0;
    line-height: rem-calc(22px);
    background: #636b71;
    padding: rem-calc(7px);
    width: 50%;
    &:hover {
      cursor: pointer;
    }
    @media (max-width: 350px) {
      font-size: rem-calc(10px);
    }
  }
  .active {
    background: $caribbean-green;
  }
  .btnRed {
    background: #fa6b49;
  }
  .btnBlue {
    background: $caribbean-green;
  }
}
