@import './src/styles/style';
.wrapperEmailPopup {
  background:white;
  font-family: $font-family-base;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .emailPopupButton {
    background: #2456FB;
    border-radius: rem-calc(5px);
    font-size: rem-calc(16px);
    color: #FFFFFF;
    letter-spacing: 0;
    border: none;
    height: rem-calc(50px);
    font-weight: 400;

    margin: rem-calc(5px 50px 30px 50px);
  }
  .emailPopupInput {
    background: white;
    color: #828AA8;
    border: 1px solid #828AA8;
    margin-top: rem-calc(5px);
    margin-bottom: rem-calc(30px);
    height: rem-calc(50px);
    margin: rem-calc(30px 50px 0px 50px);
    border-radius: rem-calc(5px);
    font-size: rem-calc(16px);
    text-align: center;

  }
  .emailPopupDes {
    font-size: rem-calc(18px);
    text-align: center;
    margin-top: rem-calc(10px);
    font-weight: 400;
  }
  .emailPopupSmallDes {
    font-size: rem-calc(15px);
    text-align: center;
    margin-top: rem-calc(5px);
  }
  .contentSmallDes {
    font-size: rem-calc(15px);
    text-align: center;
    opacity: .6;
    margin-top: rem-calc(50px);
  }
  .emailPopupBanner {
    //background-image: url('../../../../../assets/images/luckypool/email_popup_bg.svg') fixed;
    //padding: rem-calc(20px 40px 0px 40px);
    position: relative;
    top: 0;
    left: 0;
    right: 0;
  }
  .bannerIcon {
    width: rem-calc(40px);
  }
  .emailPopupContent {
    //position: absolute;
    //top: 9%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    width: 100%;
    height: rem-calc(170px);
    position: relative;
    background-color: #49D321;
    padding-top: rem-calc(30px);
  }
  .emailPopupContent:after {
    content: "";
    position: absolute;
    bottom: -19px;
    left: 50%;
    width: 30px;
    height: 30px;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #49D321;
    margin-left: -20px;
  }
  .emailPopupClose {
    position: absolute;
    top: .5rem;
    right: .5rem;
    width: 25px;
    height: 25px;
  }
}
