@import "~bootstrap/scss/bootstrap";

.btn-menu {
  border: 1px solid lightgrey;
  color: #484848;
}
.recruiting {
  a {
    &:hover {
      text-decoration: none;
    }
  }
  .recruiting-category-item {
    padding: 8px;
    margin-bottom: 5px;
    font-weight: 400;
    font-size: 16px;
    cursor: pointer;
    &.active {
      background: url('https://d2q7nqismduvva.cloudfront.net/static/images/icon-png-jpg/arrow-active.png') no-repeat center top;
      background-size: 100% 100%;
    }
  }
  .recruiting-job {
    border: 1px solid #cdcdcd;
    padding: 10px 15px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(201, 201, 201, 0.5);
    .job-name {
      font-weight: 600;
      font-size: 24px;
      color: #3a9bfb;
    }
    .job-project {
      font-weight: 400;
      font-size: 16px;
      color: #333;
    }
    .job-location {
      font-weight: 400;
      font-size: 14px;
      color: #333;
    }
    .job-summary {
      font-weight: 400;
      font-size: 16px;
      color: #828282;
    }
    .job-skill {
      display: inline-block;
      border: 1px solid #282a2d;
      border-radius: 4px;
      padding: 7px 15px;
      color: #484848;
      margin-right: 10px;
      margin-bottom: 10px;
    }
  }
  //@media (min-width: 992px) {
  //
  //}
  .backdrop {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: black;
    opacity: 0.6;
    z-index: 1;
  }
  .left-menu {
    //d-none d-md-block
    //display: block;
    //border: 1px solid lightgrey;
    .category-items {
      height: 90%;
      overflow: auto;
      -webkit-overflow-scrolling: touch;
    }
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background: white;
    width: 280px;
    z-index: 111;
    @include media-breakpoint-up(md) {
      //display: block;
      position: relative;
      width: 100%;
    }
  }

}
.job-social {
  display: inline-block;
  img {
    width: 40px;
    margin-right: 4px;
  }
}
.job-text-pr {
  font-weight: 700;
  font-size: 16px;
  color: #111;
}
