
.confirm-button{
    @-webkit-keyframes slidetounlock {
        0% {
        background-position: -400px 0;
        }
        100%{
            background-position: 200px 0;
        }
    }
    position: relative;
    label{
        position: absolute;
        z-index: 1;
        color: #fff;
        display: block;
        width: 100%;
        height: 53px;
        text-align: center;
        vertical-align: middle;
        line-height: 53px;
        font-weight: 400;
        font-size: 20px;
        background: -webkit-gradient(linear, left top, right top, color-stop(0, #f7f4f4), color-stop(0.4, #fbfbfb), color-stop(0.5, #FF5722), color-stop(0.6, #f7f7f7), color-stop(1, #f7f4f4));
        // background: -webkit-gradient(linear,left top,right top,color-stop(0, #4d4d4d),color-stop(0.4, #4d4d4d),color-stop(0.5, white),color-stop(0.6, #4d4d4d),color-stop(1, #4d4d4d)); 
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -webkit-animation: slidetounlock 5s infinite;
    }
    .rangeslider-horizontal{
        height: 54px;
        border-radius: 30px;
        background-color: #546FF7;
        .rangeslider__fill{
            background-color: #4CAF50;
            box-shadow: 7px 0px 15px 0px rgba(0, 0, 0, 0.4);
            border-radius: 30px 0 0 30px;
        }
        .rangeslider__handle{
            background-image: url('../../../assets/images/wallet/icons/coins/eth.svg');            
            background-color: transparent;
            background-color: #4CAF50;
            border: 0;
            background-size: cover;
            margin-left: 0px;
            height: 55px;
            background-repeat: no-repeat;
            width: 55px;
            outline: none;
            /* opacity: 0.9; */
            box-shadow: 7px 0px 15px 0px rgba(0, 0, 0, 0.4);
            /* border-radius: 0 50px 50px 0; */
            z-index: 1;
            
        }
        .rangeslider__handle:after{
            display: none;
        }
        
    }
}