@import './src/styles/style';

.feedComment {
  margin: rem-calc(21px 0);
  display: flex;
  justify-content: space-between;
  .addAComment {
    img {
      margin-right: rem-calc(11px);
    }
    font-size: rem-calc(14px);
    color: #666666;
    letter-spacing: 0;
    line-height: rem-calc(21px);
    font-weight: $normal;
  }
  .numComments {
    font-size: rem-calc(14px);
    color: #C8C7CC;
    letter-spacing: 0;
    line-height: rem-calc(21px);
    font-weight: $normal;
  }
  .addAComment:hover, .numComments:hover {
    cursor: pointer;
  }
}
