@import './src/styles/style';

.estimateRowWrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  margin-top: rem-calc(20px);
  color: white;
  font-size: 0.75rem;
}
.estimateGasValue {
  font-weight: $medium;
  font-size: rem-calc(14px);
}
.gasPriceTitle {
  width: 70%;
}
