<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Live Stream World Cup</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <!-- SEO -->
  <meta name="description" content="" />
  <meta name="keywords" content="" />
  <meta property="og:title" content="" />
  <meta property="og:description" content="" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="" />
  <meta property="og:image" content="" />
  <meta property="og:site_name" content="{{ htmlWebpackPlugin.options.env.title }}" />
  <meta property="fb:app_id" content="{{ htmlWebpackPlugin.options.env.social.facebookAppId }}" />
  <!-- twitter  -->
  <meta name="twitter:card" content="" />
  <meta name="twitter:site" content="" />
  <meta name="twitter:title" content="{{ htmlWebpackPlugin.options.env.title }}" />
  <meta name="twitter:description" content="" />
  <meta name="twitter:image" content="" />
  <!--/ SEO -->
  <link rel="stylesheet" href="https://use.typekit.net/bro5hwc.css">
  <link rel="stylesheet" href="https://use.typekit.net/qow3iea.css">
</head>
<body>
<div id="fb-root"></div>
<script>(function (d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s);
  js.id = id;
  js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0&appId=380022628861188&autoLogAppEvents=1';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>
  <div id="app"></div>
  <noscript>Your browser does not support JavaScript!</noscript>
</body>
</html>
