.TopUpContainer {
  font-family:"motiva-sans";
  height: 100%;
  background-color: #F4F5F7;
  padding: 15px 10px;

  .TopUpCard {
    font-size: 1rem;
    padding: 15px 20px;
    color: #646464;
    background-color: #ffffff;
    margin-bottom: 10px;
    box-shadow: #ccc 0px 1px 1px 0px;
  }

  .BalanceCard {
    .Value {
      margin: 6px 0;
      .Number {
        font-size: 1.4rem;
        font-weight: 700;
        color: #020303;
        margin-right: 5px;
      }
    }
  }

  .HowToCard {
    .Quest {
      color: #000000;
      font-weight: 700;
      margin-bottom: 10px;
    }
    .Describe {
      margin-bottom: 10px;
    }
    .WalletAddress {
      display: flex;
      flex-direction: row;
      flex-basis: 100%;
      justify-content: space-between;
      align-items: center;
      background-color: #F7F9FF;
      padding: 5px 10px;
      .Address {
        color: rgba(77, 89, 138, 0.6);
        font-size: 0.85rem;
        max-width: 240px;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .HelpIcon {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    .Separate {
      position: relative;
      display: block;
      padding: 15px 0;
      text-align: center;
      &:before {
        content: 'Or';
        position: absolute;
        top: 50%;
        left: 50%;
        padding: 5px 10px;
        z-index: 2;
        background-color: #FFFFFF;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
      }
      &:after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 128px;
        height: 1px;
        z-index: 1;
        background-color: #000000;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
      }
    }
    .QRCodeAddress {
      text-align: center;
      canvas {
        margin: 0 auto;

      }
    }
  }
}
