@import './src/styles/var';

.modal-dialog-custom {
  background-color: transparent !important;
}
.modal {
  max-width: $app-width;
  margin: 0 auto;
  .modal-backdrop {
    max-width: $app-width;
    margin: 0 auto;
    z-index: initial;
  }
  .position {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
  }
  .modal-dialog-content {
    width: 90%;
    height: auto;
    margin: 0 auto;
    background-color: $white;
    border-radius: 6px;
    .modal-custom-header {
      display: flex;
      padding: 10px 15px;
      background-color: #f8f8f8;
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
      img:hover {
        cursor: pointer;
      }
      .modal-custom-title {
        margin: 0 auto;
        font-size: 24px;
        font-weight: $medium;
      }      
    }
    .modal-custom-body {
      padding: 0 15px;
    }

  }
}

.modal-custom-show {
  display: block;
}
