.feed-me-cash {
  box-shadow: 0 0 2px 0 rgba(0,0,0,0.12), 0 2px 2px 0 rgba(0,0,0,0.12);
  background: white;
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 15px;
  .status {
    font-weight: 500;
    font-size: 12px;
    color: #000000;
    line-height: 12px;
  }
  .status-explanation {
    font-size: 10px;
    color: #7B7B7B;
    letter-spacing: -0.24px;
    line-height: 14px;
    margin-top: 5px;
  }
  .countdown {
    font-weight: 500;
    font-size: 12px;
    color: #7B7B7B;
    letter-spacing: -0.24px;
    line-height: 12px;
  }
  .order-type {
    display: inline-block;
    background: #08C480;
    border-radius: 2px;
    font-weight: 500;
    font-size: 10px;
    color: #FFFFFF;
    letter-spacing: -0.2px;
    padding: 2px 5px;
    margin-top: 5px;
  }
  .info-wrapper {
    display: table;
    width: 100%;
    margin-top: 5px;
    .label {
      display: table-cell;
      font-size: 14px;
      color: #7B7B7B;
    }
    .price {
      display: table-cell;
      text-align: right;
      font-weight: 500;
      font-size: 16px;
      color: #000000;
      letter-spacing: -0.24px;
      line-height: 16px;
    }
  }
  .hrLine {
    margin: 10px 0 !important;
  }
  .address-info {
    .name-shop {
      word-break: break-all;
    }
    font-size: 12px;
    color: #000000;
    letter-spacing: 0.25px;
    padding-right: 5px;
  }
  .btn-confirm {
    background: #2456FB;
    border-radius: 3px;
    color: #ffffff;
  }
  .btn-cancel {
    background-image: linear-gradient(-180deg, #FFFFFF 0%, #F9FAFB 99%);
    border: 1px solid #DEDEDE;
    border-radius: 3px;
  }
}

.modal-me-cash-more-info {
  .modal-custom-body {
    color: #e0dfea;
    //background: url('../../assets/images/campaign/bg-earlybird.svg') no-repeat center;
    //background-size: 171% 118%;
    padding: 20px !important;

    background: #000B35 !important;
    box-shadow: 0 2px 11px 0 rgba(0,0,0,0.10);
  }
  .modal-more-info-content {
    position: relative;
    .button-close {
      padding: 0 6px;
      color: white;
      position: absolute;
      right: -15px;
      top: -15px;
      font-size: 20px;
    }
    .heading-text {
      font-weight: 600;
      font-size: 14px;
      color: #0BDD91;
      letter-spacing: 0;
    }
    .line-hr {
      opacity: 0.3;
      background: #979797;
    }
    .label-modal-more-info {
      opacity: 0.4;
      font-size: 14px;
      color: #FFFFFF;
      letter-spacing: 0;
    }
    .phone-number {
      font-size: 14px;
      color: #FFFFFF;
      letter-spacing: 0;
    }
  }
}
