@import './src/styles/var';

.feed-exchange {
  //margin-bottom: 0.6875rem;
  background: #FFFFFF;
  box-shadow: 0 2px 4px 0 rgba(201,201,201,0.50);
  //border-radius: 4px;
  padding: 0 10px 10px;
  .info-ex {
    padding-top: 10px;
    & > div {
      display: table-cell;
      vertical-align: middle;
      width: 100%;
    }
    .btn-chat {
      width: 100px;
      .btn {
        background: transparent;
        padding: 0;
      }
    }
    .address {
      font-weight: 500;
      font-size: 16px;
      color: #1F2B34;
      letter-spacing: 0.29px;
    }
    .review {
      font-weight: 400;
      font-size: 12px;
      color: #6F6F6F;
      letter-spacing: 0;
    }
    .distance {
      opacity: 0.5;
      font-weight: 400;
      font-size: 12px;
      color: #22292F;
      letter-spacing: 0.21px;
      //text-transform: uppercase;
    }
  }
}

.dialog-shake-detail {
  .modal-custom-body {
    background: #000B35;
    border-radius: 4px;
    padding: 20px !important;
  }
}

.ex-sticky-note {
  font-size: 14px;
  text-align: center;
  color: white;
  position: fixed;
  bottom: 60px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 414px;
  background-color: black;
  z-index: 2;
  padding: 10px 0;
  .btn-become {
    min-width: 200px;
    border: 1px solid white;
    background: black;
    color: white;
  }
}
