@import './src/styles/style';

.wrapperBetting {
  font-family: $font-family-base;
  font-size: rem-calc(18px);
  padding: rem-calc(10px 10px 10px 10px);
  .dropDown {
    margin: rem-calc(15px 0 20px);
    .dropdown-custom {
      margin: rem-calc(0 0 10px);
      button {
        background: inherit;
      }
    }
  }
  .formInput {
    background: #F8FAFF;
    border-radius: rem-calc(6px);
    padding: rem-calc(20px 0);
    margin-bottom: rem-calc(28px);
  }
  .rowWrapper {
    align-items: center;
    justify-content: space-between;
    display: flex;
    margin: rem-calc(20px) auto;
    //max-width: 19.75rem;
  }
  .label {
    flex-basis: 38%;
    flex-shrink: 0;
    margin: 0;
    font-size: rem-calc(18px);
    font-weight: $light;
    color: #353535;
    letter-spacing: 0;
    text-align: right;
    padding-right: rem-calc(20px);
  }
  .input {
    height: rem-calc(40px);
    font-size: rem-calc(24px);
    font-weight: $normal;
    color: $text-black;
    letter-spacing: 0;
    line-height: rem-calc(34px);
    padding-left: 0;
    //width: 100%;
    &:focus {
      box-shadow: none;
    }
    &::placeholder {
      color: #C8C7CC;
      font-weight: $light;
    }
  }
  .oddField {
    //padding-left: rem-calc(5px);
  }
  .oddInput {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    &:before {
      content: "1 :";
      flex-shrink: 0;
      flex-basis: 13%;
      align-self: center;
      font-size: rem-calc(24px);
      font-weight: $semi-bold;
      color: $text-black;
      letter-spacing: 0;
      line-height: rem-calc(34px);
    }
    input {
      width: 80%;
      border: none;
      padding-left: rem-calc(5px);
      font-size: rem-calc(24px);
      font-weight: $semi-bold;
      letter-spacing: 0;
      line-height: rem-calc(34px);
      &::placeholder {
        font-size: rem-calc(24px);
        font-weight: $semi-bold;
        color: #CED8F1;
      }
    }
  }
  .betField {
    input {
      width: rem-calc(87px);
      border-bottom: 2px solid #CED8F1;
      order: 1;
    }
    & > div {
      display: flex;
      flex-wrap:  wrap;
      width: 100%;
      &:after {
        content: 'ETH';
        font-size: rem-calc(24px);
        font-weight: $semi-bold;
        color: $text-black;
        letter-spacing: 0;
        line-height: rem-calc(34px);
        margin-left: rem-calc(8px);
        align-self: center;
        order: 2;
      }
      div[class='text-danger'] {
        width: 100%;
        order: 3;
      }
    }
  }
}
