@import './src/styles/style';

.wrapperBetting {
  font-family: $font-family-base;
  font-size: rem-calc(18px);
  padding: rem-calc(10px 10px 10px 10px);
  .rowWrapper {
    align-items: center;
    display: flex;
    margin-top: rem-calc(20px);
    margin-bottom: rem-calc(20px);
  }
  .label {
    flex-shrink: 0;
    margin: 0;
    font-size: rem-calc(18px);
    font-weight: $light;
    color: #353535;
    letter-spacing: 0;
    text-align: right;
  }
  .input {
    height: rem-calc(50px);
    font-size: rem-calc(24px);
    font-weight: $normal;
    color: $text-black;
    letter-spacing: 0;
    line-height: rem-calc(34px);
    &:focus {
      box-shadow: none;
    }
    &::placeholder {
      color: #C8C7CC;
      font-weight: $light;
    }
  }
  .oddInput {
    //width: rem-calc(100px);

  }
  .oddLabel {
    font-size: rem-calc(24px);
    margin-left: rem-calc(20px);
    margin-bottom: 0;

  }
}
