@import "./src/styles/style";

.wrapperBetting {
  font-family: $font-family-base;
  font-size: rem-calc(18px);
  padding: rem-calc(10px 10px 10px 10px);
  .dropDown {
    margin: rem-calc(15px 0 20px);
    .dropdown-custom {
      margin: rem-calc(0 0 10px);
      button {
        background: inherit;
      }
    }
  }
  .rowWrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: rem-calc(20px);
    .btn-block + .btn-block {
      margin-top: 0;
    }
  }
  .rowWrapper +  .rowWrapper {
    margin-top: 0;
  }

  .formInput {
    background: #f8faff;
    border-radius: rem-calc(6px);
    padding: 0.3rem 1.25rem 1rem;
    margin-bottom: rem-calc(28px);
  }

  .label {
    flex-shrink: 0;
    flex-basis: 100%;
    font-size: rem-calc(12px);
    color: #fff;
    letter-spacing: 0;
    line-height: rem-calc(22px);
    margin: 0;
    opacity: 0.66;
  }
  .itemLabel {
    height: rem-calc(40px);
    line-height: rem-calc(34px);
  }
  .input {
    /*
    height: rem-calc(40px);
    font-size: rem-calc(24px);
    font-weight: $normal;
    color: $text-black;
    letter-spacing: 0;
    line-height: rem-calc(34px);
    padding-left: 0;
    //width: 100%;
    &:focus {
      box-shadow: none;
    }
    &::placeholder {
      color: #c8c7cc;
      font-weight: $light;
    }
    */
    flex-basis: 100%;
    background: rgba(216,216,216,0.14);
    border: 2px solid rgba(255,255,255,0.15);
    font-size: rem-calc(14px);
    color: #C8C7CC;
    letter-spacing: 0;
    padding: 10px 11px;
  }
  .input[readOnly] {
    border-bottom: none;
  }
  .cryptoCurrency, .input {
    font-size: rem-calc(18px);
    color: #000000;
    letter-spacing: 0;
    line-height: rem-calc(22px);
  }
  .cryptoCurrency {
    position: relative;
    top: -26.5px;
    left: 88%;
    font-weight: $normal;
    font-size: 0.75rem;
    color: #FFFFFF;
  }
  .cryptoCurrencyamount {
    position: relative;
    top: -24.5px;
    left: 88%;
    font-weight: $normal;
    font-size: 0.75rem;
    color: #FFFFFF;
  }
  .cryptoCurrencyatOdds {
    position: relative;
    top: -24.5px;
    left: 73%;
    font-weight: $normal;
    font-size: 0.75rem;
    color: #FFFFFF;
    @media (max-width: 375px) {
      left: 71%;
    }
    @media (max-width: 330px) {
      left: 65%;
    }
  }
  .cryptoCurrencyYourOdds {
    left: 77%;
    @media (max-width: 375px) {
      left: 76%;
    }
    @media (max-width: 330px) {
      left: 73%;
    }
  }
  .oddField {
    //padding-left: rem-calc(5px);
  }
  .oddInput {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    &:before {
      content: "1 :";
      flex-shrink: 0;
      flex-basis: 13%;
      align-self: center;
      font-size: rem-calc(24px);
      font-weight: $semi-bold;
      color: $text-black;
      letter-spacing: 0;
      line-height: rem-calc(34px);
    }
    input {
      width: 80%;
      border: none;
      padding-left: rem-calc(5px);
      font-size: rem-calc(24px);
      font-weight: $semi-bold;
      letter-spacing: 0;
      line-height: rem-calc(34px);
      &::placeholder {
        font-size: rem-calc(24px);
        font-weight: $semi-bold;
        color: #ced8f1;
      }
    }
  }
  .amount {
    margin-bottom: -35px;
  }
  .amount + .cryptoCurrency {
    font-size: rem-calc(12px);
    font-weight: $medium;
    color: #FFFFFF;
    letter-spacing: 0;
    position: relative;
    top: 5px;
    left: 80%;
  }
  .atOdds {
    font-size: rem-calc(18px);
    color: #D0021B;
    letter-spacing: 0;
  }
  .text-danger {
    font-size: rem-calc(12px);
  }

  .text-danger + .cryptoCurrency {
    left: 74%;
  }

  .text-danger +  .cryptoCurrencyamount {
    left: 72%;
  }

  .text-danger + .cryptoCurrencyatOdds {
    left: 68%;
  }

  .btnRed {
    background: #fa6b49;
    border: none;
    &:active {
      background-color: #fa6b49;
    }
  }
  .btnBlue {
    background: $caribbean-green;
    border: none;
    &:active {
      background-color: $caribbean-green;
    }
  }
  .disable {
    color: $disable-color !important;
  }
  .wrapperTooltip {
    margin-left: 5px;
    .imageTooltip {
      margin-bottom: 1px;
    }
  }
}
