.label-create {
  width: 250px;
  //text-transform: uppercase;
  padding: 0;
  font-weight: 400;
  letter-spacing: 0;
  font-size: 14px;
  //line-height: 32px;
  margin-top: 5px;
}
.head-label {
  font-weight: 600;
  font-size: 16px;
  text-transform: none;
}

.create-exchange {
  font-weight: 500;
  color: #000000;
  input {
    font-weight: 500;
    font-size: 16px;
    color: #000000;
    letter-spacing: 0;
    text-align: left;
    padding: 0;
  }

  .currency-selector {
    img {
      width: 24px;
    }
    span {
      line-height: 24px;
      vertical-align: middle;
    }
  }
  .label {
    margin-top: 20px;
    margin-bottom: 5px;
    font-weight: 700;
    font-size: 14px;
    color: #1E4EFF;
    letter-spacing: 0;
    text-align: left;
    line-height: 14px;
  }
  .section {
    background: #ffffff;
    padding-left: 15px;
    margin-left: -15px;
    padding-right: 15px;
    margin-right: -15px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .explanation {
    color: #8A8A8F;
    font-size: 10px;
    font-weight: 400;
  }
  .estimate-price {
    margin-top: 10px;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0;
    &.buy {
      color: #4CD964;
    }
    &.sell {
      color: #FF2D55;
    }
  }
  .tooltip-price {
    font-weight: 400;
    font-size: 12px;
    color: #5B5B5B;
    letter-spacing: 0;
    text-align: left;
    line-height: 19px;
  }
}

.form-text {
  //margin: 0;
  font-weight: 500;
  font-size: 16px;
  color: #1E4EFF;
  letter-spacing: 0;
}

.create-exchange-local {

}
