.wallets-wrapper{
  .modal-dialog-content{
    width: 96%;
    height: 80%;
    overflow: scroll;
  }

  .position{
    top: 50px;
    align-items: unset;
  }

  .listCoin{
    .coinName {
      border: solid 1px #EAEAEC;
      border-radius: 5px;
      padding: 0.5rem 0.5rem 0.5rem 1rem;
      margin-top: 1rem;
      -webkit-box-shadow: -1px 2px 10px 1px rgba(0,0,0,0.1);
      -moz-box-shadow: -1px 2px 10px 1px rgba(0,0,0,0.1);
      box-shadow: -1px 2px 10px 1px rgba(0,0,0,0.1);

      .icon{
        padding-right: 0 !important;
        padding-top: 0 !important;

        img {
          height: 42px;
          border:solid 2px silver;
          border-radius: 40px;
        }
      }
      .name{
        color:Gray;
        font-size: 1rem;
      }
      .balance{
        font-size: 1rem;
        font-weight:400;
      }
      .address{
        font-size: 1rem;
      }
      .col-2, .col-5, .col-6, .col-4{
        padding: 0 0.5rem;
        line-height: 1.8;
      }


      @media (max-width: 330px){
        .col-5{
          flex: 0 0 60%;
          text-align: left !important;
        }

        .balance{
          display: contents !important;
        }

        .qrcode{
          float: right;
        }
      }
    }

    .test{
      background: #00bcd4;
    }

    .selected {
      background: #343a40;

      .name{
        color: lightgray;
      }

      .address, .balance {
        color:white;
      }

    }

    padding-bottom: 2rem;
  }


  .qr-wrapper{
    .modal-dialog-content{
      width: 90%;
      height: 410px;
      padding: 0px;

    }

    .qrBox{
      padding: 1rem 0;
      text-align: center;

      .address{
        word-wrap: break-word;
      }
      .div-qr-code{
        padding-bottom: 1rem;
      }

    }
  }


}
