@import './src/styles/var';

.modal {
  width: 100%;
  height: 100%;
  max-width: $app-width;
  margin: 0 auto;
  background-color: $white;
  .modal-custom-header {
    display: flex;
    padding: 10px 15px;
    background-color: #f8f8f8;
    img:hover {
      cursor: pointer;
    }
    .modal-custom-title {
      margin: 0 auto;
      font-size: 24px;
      font-weight: $medium;
    }
    .iconRight{
      height: 21px;
      margin-top: 5px;
      margin-right: 1px;
    }
  }
  .modal-custom-body {
    padding: 0 15px;
    height: 100%;
    overflow-y: auto;
  }
}

.modal-custom-show {
  display: block !important;
  overflow-y: auto !important;
}
