.sendwallet-wrapper{
    margin-top: 20px;
    padding-left: 7px;
    padding-right: 7px;
  
    .text-danger{
      font-size: 14px;
  
    }
  
    .label-balance{
      margin-top: 9px;
      color: #7b7b7b;
      font-size: 16px;
      display: block;
    }
  
    input[type=text], input[type=tel], input[type=number]{
      margin-bottom: 5px;
      font-size: 16px;
      line-height: 22px;
      border:1px solid #EFEFEF;
      height: 54px;
    }
  }

.bodyConfirm .left{
    float: left;
    width: auto;
    padding-left: 30px;
    padding-right: 30px;
    min-width: 125px;
  }
  .bodyConfirm .right{
    float: right;
    width: auto;
    padding-left: 30px;
    padding-right: 30px;
    min-width: 125px;
  }
  .bodyConfirm{
    padding: 15px;
    overflow: hidden;
    margin: auto;
    width: 100%;
    margin-bottom: 5px;
  
  }