html, body, #app,
.root, .app {
  height: 100%;
}

.app {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  overflow: hidden;
  max-width: $app-width;
  margin: 0 auto;
  background-color: $white;
  &.hide-header {
    padding-top: 0;
  }
  .content {
    position: relative;
    flex: 1;
    overflow: auto;
  }
}

.header {
  z-index: 3;
  max-width: $app-width;
  height: $header-height;
  background-color: rgba(248, 248, 248, 0.82);
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  .header-right {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
  }
  .header-left {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
  }
  .header-back-btn {
    position: absolute;
    left: 0;
    top: 0;
    padding: 12px;
    height: $header-height;
    svg {
      g {
        fill: $deep-blue;
      }
    }
    display: none;
    &.visibled {
      display: block;
    }
  }
  .title {
    line-height: $header-height;
    text-align: center;
    font-size: 24px;
    color: $text-black;
  }
}


.footer {
  height: $footer-height;
  width: 100%;
  max-width: $app-width;
  background: #FFFFFF;
  z-index: 2;
  box-shadow: 0 -2px 13px 0 rgba(221,235,242,0.50);
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      display: inline-block;
      text-align: center;
      width: 16.6%;
      a {
        cursor: pointer;
        //display: block;
        height: $footer-height;
        position: relative;
        color: $text-gray;
        flex-flow: column;
        display: flex;
        align-items: center;
        justify-content: center;
        > div {
          svg {
            margin: 0 auto;
            display: block;
          }
        }
        > div:not(.create) {
          top: 37%;
          transform: translateY(-50%);
          position: absolute;
          width: 100%;
        }
        > .create {
          top: 50%;
          width: 100%;
          position: absolute;
          transform: translateY(-50%);
        }
        span {
          text-align: center;
          position: absolute;
          //width: 100%;
          bottom: 7px;
          display: block;
          margin: 0;
          padding: 2px 5px;
          font-size: 10px;
          letter-spacing: 0.7px;
          color: #606060;
          font-weight: $normal;
        }
      }
      &.selected {
        //svg {
        //  path {
        //    //fill: $deep-blue;
        //  }
        //}
        a {
          //color: rgba(248, 248, 248, 0.95);
          span {
            background-color: #1E4EFF;
            border-radius: 9px;
            color: #ffffff;
          }
        }
        //.chat-icon {
        //  svg {
        //    g {
        //      stroke: $deep-blue;
        //    }
        //  }
        //}
      }
    }
  }
}

.network-error {
  padding-top: 20vh;
  p {
    margin-top: 20px;
  }
}

.form-control-custom {
  height: calc(2rem + 1px);
  margin-bottom: -1px;
  box-sizing: border-box;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid $lavender-gray;
  outline: 0;
  box-shadow: none;
  border-radius: 0;
  background-image: none;
  &:focus {
    height: calc(2rem + 1px);
    margin-bottom: -1px;
    border-color: $blue;
    border-width: 2px;
  }
}
.has-error {
  box-shadow: none !important;
  border-color: #dc3545 !important;
}
.has-warning {
  box-shadow: none !important;
  border-color: #ffc107 !important;
}

.hide-scroll {
  overflow: hidden !important;
}

.auto-width {
  &:first-child:nth-last-child(1) {
    width: 100%;
  }

  &:first-child:nth-last-child(2) {
    width: 50%;
    padding-right: 4px;
  }
  &:first-child:nth-last-child(2) ~ & {
    width: 50%;
    padding-left: 4px;
  }
}

.text-underline {
  text-decoration: underline !important;
}

.discover-overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: rgba($color: $black, $alpha: 0.3);
  display: none;
  &.show {
    display: block;
  }
  img {
    display: block;
    position: absolute;
    width:  rem-calc(50px);
    height: rem-calc(50px);
    background: $white;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
