.app {
  max-width: $app-width;
  margin: 0 auto;
  background-color: $white;
  min-height: 100vh;
  position: relative;
  padding-top: $header-height + 10px;
  padding-bottom: $footer-height + 10px;
  overflow: hidden;
}

.header {
  z-index: 3;
  max-width: $app-width;
  height: $header-height;
  background-color: rgba(248, 248, 248, 0.82);
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  .header-back-btn {
    position: absolute;
    left: 0;
    top: 0;
    padding: 12px;
    height: $header-height;
    svg {
      g {
        fill: $deep-blue;
      }
    }
    display: none;
    &.visibled {
      display: block;
    }
  }
  .title {
    line-height: $header-height;
    text-align: center;
    font-size: 24px;
    color: $text-black;
  }
}


.footer {
  height: $footer-height;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: $app-width;
  background-color: rgba(248, 248, 248, 0.95);
  z-index: 2;
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      display: inline-block;
      text-align: center;
      width: 20%;
      a {
        display: block;
        height: $footer-height;
        position: relative;
        color: $text-gray;
        > div {
          svg {
            margin: 0 auto;
            display: block;
          }
        }
        > div:not(.create) {
          top: 37%;
          transform: translateY(-50%);
          position: absolute;
          width: 100%;
        }
        > .create {
          top: 50%;
          width: 100%;
          position: absolute;
          transform: translateY(-50%);
        }
        span {
          text-align: center;
          position: absolute;
          width: 100%;
          bottom: 7px;
          display: block;
          margin: 0;
          font-size: 10px;
          letter-spacing: 0.7px;
        }
      }
      &.selected {
        svg {
          path {
            fill: $deep-blue;
          }
        }
        a {
          color: $deep-blue;
        }
        .me-icon {
          svg {
            g {
              stroke: $deep-blue;
            }
          }
        }
      }
    }
  }
}

.form-control-custom {
  height: calc(2rem + 1px);
  margin-bottom: -1px;
  box-sizing: border-box;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid $lavender-gray;
  outline: 0;
  box-shadow: none;
  border-radius: 0;
  background-image: none;
  &:focus {
    height: calc(2rem + 1px);
    margin-bottom: -1px;
    border-color: $blue;
    border-width: 2px;
  }
}
.has-error {
  box-shadow: none !important;
  border-color: #dc3545 !important;
}
.has-warning {
  box-shadow: none !important;
  border-color: #ffc107 !important;
}
