// input

.form-control {
  border-radius: 3px;
  border: solid 1px $border;
  height: 44px;
  line-height: 44px;
  font-size: 14px;
  padding: 15px 12px;
  &:focus {
    border-color: $green_active;
    box-shadow: 0 0 0 0.2rem rgba(45, 190, 95, 0.24);
  }
}

// btn

.btn {
  height: 44px;
  line-height: 44px;
  padding: 0 20px;
  border-radius: 3px;
  box-shadow: 0 2px 7px 0 rgba(120, 137, 149, 0.26);
  border: none;
  font-size: 14px;
  font-weight: normal;
  text-decoration: none !important;
  span {
    vertical-align: middle;
    svg {
      vertical-align: middle;
    }
  }
  &.block {
    display: block;
    width: 100%;
  }
  &.small {
    height: 28px;
    line-height: 28px;
    border-radius: 2px;
    box-shadow: none;
  }
  &.btn-primary {
    background-color: $green;
    color: $white;
    &:hover {
      background-color: $green_active;
    }
  }
}

// btn-primary
.btn-primary:focus, .btn-primary.focus {
  box-shadow: 0 0 0 0.2rem rgba(45, 190, 95, 0.24);
}
.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(45, 190, 95, 0.24);
  background-color: $green_active;
}

// btn-secondary
.btn-secondary {
  font-weight: 500;
  background-color: transparent;
  border: 1px solid $green;
  color: $green !important;
  box-shadow: none;
  border-radius: 2px;
  &:hover {
    background-color: $green;
    color: $white !important;
    border: 1px solid $green;
  }
  &:focus, &.focus {
    box-shadow: none;
}
}
.btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary:not(:disabled):not(.disabled).active, .show > .btn-secondary.dropdown-toggle {
  background-color: $green;
  color: $white !important;
  border: 1px solid $green;
  box-shadow: none;
}
.btn-secondary:not(:disabled):not(.disabled):active:focus, .btn-secondary:not(:disabled):not(.disabled).active:focus, .show > .btn-secondary.dropdown-toggle:focus {
  box-shadow: none;
}

a, .link {
  cursor: pointer;
  color: $green;
  text-decoration: underline;
  &:hover {
    color: $green_active;
  }
}

.ionicons {
  font-size: 24px;
  line-height: 24px;
}
