.page {
  &.auth {
    .background-container {
      padding-left: 0;
      position: relative;
      .background {
        position: fixed;
        background: url('../assets/images/pages/auth/auth-background.png');
        width: calc(50% - 15px);
        height: 100vh;
        background-repeat: no-repeat;
        background-position: top center;
        left: 0;
        top: 0;
        .white-logo {
          margin-top: 27px;
          margin-left: 76px;
        }
        @include respond(md) {
          display: none;
        }
        @include respond-gt(1500px) {
          width: 720px;
          left: 50%;
          transform: translateX(-735px);
        }
      }
    }
    .right-container {
      padding-top: 140px;
      padding-left: 55px;
      .form-container {
        .btn {
          margin-top: 20px;
        }
      }
      .right {
        max-width: 310px;
        @include respond(md) {
          margin: 0 auto;
        }
      }
      @include respond(lg) {
        padding-left: 15px;
      }
      @include respond(md) {
        padding-top: 30px;
      }
    }
    .logo {
      color: $logo_color;
      text-transform: uppercase;
      letter-spacing: 2.4px;
      font-weight: 300;
      font-size: 12px;
      margin-bottom: 14.5px;
    }
    .header {
      position: relative;
      display: table;
      &::before {
        content: '';
        width: 10px;
        display: inline-block;
      }
      &::after {
        position: relative;
        background-color: #2dbe60;
        height: 20px;
        width: calc(100% + 5px);
        content: '';
        bottom: 25px;
        left: 0;
        display: block;
        z-index: -1;
        @include respond(md) {
          height: 5px;
          bottom: 11px;
        }
      }
      @include respond(md) {
        margin: 0 auto;
      }
    }
    .form-container {
      margin-top: 55px;
      margin-bottom: 40px;
      .form {
        .field {
          label {
            font-size: 12px;
            font-weight: 600;
            color: $black;
            margin-bottom: 4px;
          }
          .btn {
            text-transform: uppercase;
          }
        }
      }
      @include respond(md) {
        margin: 20px 0;
      }
    }
    .auth-swap {
      padding-top: 30px;
      text-align: center;
      font-size: 14px;
      @include respond(md) {
        padding-top: 20px;
      }
    }
    .copyright {
      margin-top: 110px;
      font-size: 14px;
      margin-bottom: 100px;
      @include respond(md) {
        margin-top: 50px;
        text-align: center;
      }
    }
  }
}
