// basic
$white: #ffffff;
$black: #2c2c2c;

// pattern
$green: #2dbe60;
$green_active: #2eac5a;
$green_hover: #2ab059;
$gray: #788995;
$gray_hover: #788995;
$red: #ff0000;
$app_background: #f6f8f9;
$app_header_a: #1b2125;
$border: #dde3e8;
$input_hover: $gray;
$hr: #dedede;
$hr_disabled: #e4eaee;
$tab_disabled: $gray;

// auth pgae
$logo_color: #7e7e7e;
