// basic
$white: #ffffff;
$black: #2c2c2c;
$bg-gray: #efefef;
$text-black: #090909;
$text-gray: #989898;
$red: #f00;
$gray: #f4f5f7;
$splash-background-color: #1A1919;
/*
* Color Pallette
* ======================================================================== */
// main color
$deep-blue: #1e4eff;
$titan-black: #000000;
$caribbean-green: #0BDD91;
// 5 Shades of Grey
$baltic-sea: #3e3e3e;
$steel: #666666;
$oslo-gray: #8a8a8f;
$lavender-gray: #c8c7cc;
$athens-gray: #efeff4;
$light-gray: #f9f9f9;
// random colors
$blue: #007aff;
$maya-blue: #5ac8fa;
$gossamer: #009688;
$sunshade: #ff9500;
$radical-red: #FA6B49;
$emerald: #4cd964;
$dark-orchid: #9c27b0;
$red-orange: #ff3b30;
$nation-blue: #5677fc;
$portland-orange: #ff5722;
/*
* Dimension
* ======================================================================== */
$header-height: 45px;
$app-width: 414px;
$footer-height: 60px;
/*
* Font base
* ======================================================================== */
$font-size-base:          16px !default;
$font-family-base:        motiva-sans, sans-serif !default;
/*
* Font weight
* ======================================================================== */
$thin: 100 !default;
$extra-light: 200 !default;
$light: 300 !default;
$normal: 400 !default;
$medium: 500 !default;
$semi-bold: 600 !default;
$bold: 700 !default;
$extra-bold: 800 !default;
$heavy: 900 !default;
/*
* Typography
* ======================================================================== */
$font-size-h1:            ($font-size-base * 1.75) !default;
$font-size-h2:            ($font-size-base * 1.5) !default;
$font-size-h3:            ($font-size-base * 1.375) !default;
$font-size-h4:            ($font-size-base * 1.25) !default;
$font-size-h5:            ($font-size-base * 1.125) !default;
$font-size-h6:            ($font-size-base * 1.125) !default;
$font-size-caption:       ($font-size-base * 0.875) !default;
/*
* Utilities
* ======================================================================== */
$z-index: 1050 !default; // default of boostrap
$z-index-loading-full-screen: $z-index + 1;
$z-index-alert: $z-index + 2;
$disable-color: #fa6b49;
/*
* Animation
* ======================================================================== */
$animation-duration: 0.5s;

$points: (
  xs: 576px,
  sm: 768px,
  md: 992px,
  lg: 1200px
);
