// basic
$white: #ffffff;
$black: #2c2c2c;
$bg-gray: #EFEFEF;
$text-black: #090909;
$red: #f00;
$blue: #1E4EFF;
// dimension
$headerHeight: 45px;
$appWidth: 414px;
// font weight
$thin: 100;
$extra-light: 200;
$light: 300;
$normal: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$extra-bold: 800;
$black: 900;