@import "../../node_modules/bootstrap/dist/css/bootstrap.css";

@import "var";
@import "responsive";

body {
  font-family: motiva-sans, sans-serif;
  font-style: normal;
  font-weight: 200;
  color: $black;
  background-color: $bg-gray;
}

@import "app";
