@import "../../node_modules/bootstrap/dist/css/bootstrap.css";
@import "./../assets/css/flags/sass/flag-icon.scss";

@import "var";
@import "responsive";
@import "functions";
@import "animate";

body {
  font-family: $font-family-base;
  font-style: normal;
  font-size: $font-size-base;
  font-weight: $extra-light;
  color: $black;
  background-color: $bg-gray;
}

img {
  max-width: 100%;
}

button {
  text-overflow: ellipsis;
  overflow: hidden;
}

@import "app";
@import "app/splash";
@import "app/header";
@import "components/horizontal-list";
@import "pages/discover";
@import "pages/discover-tab-prediction";

@import "forms/dropdown-input";
