@import "../../node_modules/bootstrap/dist/css/bootstrap.css";

@import "var";
@import "responsive";
@import "functions";

html {
  font-size: $font-size-base;
}

body {
  font-family: $font-family-base;
  font-style: normal;
  font-weight: $extra-light;
  color: $black;
  background-color: $bg-gray;
}

@import "app";
@import "forms/dropdown-input";
