@import './src/styles/style';

.wrapperLuckyLanding {
  position: relative;
  background:white;
  font-family: $font-family-base;
  display: flex;
  flex-direction: column;
  margin: 0 -15px;

  //height: 100vh;
  .luckyLandingTop {
    background: url('../../assets/images/luckypool/lucky-landing-bg.svg');
    display: flex;
    padding-top: 9.5rem;
  }
  .luckyTopContent {
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  .luckyLandingTitle {
    font-size: rem-calc(18px);
    font-weight: 400;
    margin-top: 10%;

  }
  .luckyTitleDesc {
    font-size: rem-calc(15px);
    opacity: .6;
    text-align: center;
    margin-top: 10px;
  }
  .btnLuckyLanding {
    border-radius: rem-calc(5px);
    font-size: rem-calc(16px);
    height: rem-calc(50px);

    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;

    padding: 0.75rem 0.75rem;
    margin-left: rem-calc(50px);
    margin-right: rem-calc(50px);
  }
  .btnLuckyLanding.guideButton {
    background: #2456FB;
    color: #FFFFFF;
    margin-top: 5%;
    margin-bottom: rem-calc(30px);
    margin-top: rem-calc(10px);

  }
  .btnLuckyLanding.gotItButton {
    background: white;
    color: #828AA8;
    border: 1px solid #828AA8;
    margin-top: 5%;

  }

  .luckyLandingLogo {
    margin-right: rem-calc(20px);
    position: relative;
    left: 69px;
    top: 19px;
  }
  .luckyLandingClose {
    position: absolute;
    top: .5rem;
    right: 1.5rem;
    width: 25px;
    height: 25px;
  }
}
