@import "./src/styles/style";

.save-betting-event{
  margin: rem-calc(0px) 0 rem-calc(0px) 0;
}
.reporting-label,.fees-label,.event-label{
  margin:rem-calc(30px) 0 1rem 0;
}
.input-field{
  margin-bottom: 5px;
  font-size: 16px;
  line-height: 22px;
  border:1px solid #EFEFEF;
  height: 54px;
}
.submit-button{
  margin-top: rem-calc(10px);
  margin-bottom: rem-calc(20px);
}
.dropDown {
  margin: rem-calc(7px 0);
}
.text-danger{
  display: block;
}
.events-label-button-block-col{
 padding : 0;
}
.dateField{
  background-color:#fff;
}
.or-label{
  margin:1em auto;
}
.cancel-button{
  background-color: #a0a0a0;
  border-color:#a0a0a0;
}
