.job-detail {
  a.back-to-listing {
    color: #484848;
    font-weight: 500;
    &:hover {
      text-decoration: none;
    }
  }
  a {
    color: #2456FB;
  }
  .jd-name {
    font-weight: 300;
    font-size: 36px;
    line-height: 40px;
    color: #333;
  }
}
