.iconSuccessChecked{
  margin-bottom: 1px;
  margin-right: 5px;
}

.receive-coins{
  margin-top: 20px;
  padding: 0 5px;

  .modal{
    background-color: #f8f9fa;
  }

  .dropdown-item{
    border-bottom: 1px solid #ededed;
    padding: 0.5rem 1.5rem;
  }

  .box-addresses{
    margin-top: 10px;
    position: relative;
    height: 50px;
    background: #fff;
    .box-hide-wallet{
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
    }
    .box-address{
      margin-top: 0;
      position: absolute;
      background: #fff;
      left: 0;
      top: 0;
      width: 100%;
    }
    .btn-group > .btn:first-child{
      color: transparent;
      background-color: transparent;
      border: none;
      box-shadow: none;
    }
    .btn-group > .btn:last-child{
      border-bottom-width: 0;
    }
    .btn-group .dropdown-menu{
      width: 100%;
    }
  }

  form.receivewallet-wrapper {
    margin-top: 0;
    margin-bottom: 0;
    height: 55px;
    .amountCoinTemp{
      position: absolute;
    }
    .amountCoin{
      position: absolute;
      background: transparent;      
    }
  }
  .switch-value{    
    font-size: 12px;
    margin-bottom: 15px;
  }

  .box-qr-code{
    // border: 1px solid #ced4da;
    // border-radius: 10px;
    margin: auto;
    width: 250px;
    height: 250px;
    padding: 10px;    
  }

  .button-download{    
    width: 100%;
    padding: 12px;
    margin-top: 5px;
    margin-bottom: 10px;
    border-radius: 4px;
    font-weight: 100;
    display: block;    
    text-decoration: none;
    color: #fff !important;
    // background-color: #007bff;
    // border-color: #007bff;   
    background-color: #0BDD91 !important;     
    font-size: 1rem;
  }

  .box-link{
    overflow: hidden;
    padding: 0 25px 0 25px;
    a {
      color: #059fb3 !important;
      font-size: 14px;
      display: block;
      // margin-top: 10px;
      text-decoration: none;
    }
    .link-download{
      // float: left;
    }
    .link-copy-address{
      // float: right;
      display: none;
    }
  }
  

  .div-amount {    
    position: relative;    
    margin-top: 20px;

    img{
      width: 24px;
    }
    
    .prepend{      
      padding: 3px;
      position: absolute;
      right: 8px;
      color: #7b7b7b;      
      top: 8px;
      font-size: 14px;                  
    }
    .prepend-button{
      z-index: 1;
      padding: 3px;
      position: absolute;
      right: 6px;
      color: #7b7b7b;
      border: #ced4da 1px solid;
      top: 6px;
      font-size: 14px;
      background-color: #f4f6ff;
      border-radius: 2px;
      cursor: pointer;

      -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
      -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
      box-shadow:inset 0px 1px 0px 0px #ffffff;
      background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
      background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
      filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
      background-color:#ededed;
      -webkit-border-top-left-radius:5px;
      -moz-border-radius-topleft:5px;
      border-top-left-radius:5px;
      -webkit-border-top-right-radius:5px;
      -moz-border-radius-topright:5px;
      border-top-right-radius:5px;
      -webkit-border-bottom-right-radius:5px;
      -moz-border-radius-bottomright:5px;
      border-bottom-right-radius:5px;
      -webkit-border-bottom-left-radius:5px;
      -moz-border-radius-bottomleft:5px;
      border-bottom-left-radius:5px;
      text-indent:0px;
      border:1px solid #dcdcdc;      
      color:#777777;      
      text-decoration:none;
      text-align:center;
      text-shadow:1px 1px 0px #ffffff;


    }    
    input[type=text], input[type=tel], input[type=number]{
      font-size: 16px;
      line-height: 22px;
      height: 45px;
      padding-right: 80px;
      font-weight: 300;
    }
  }

  .button {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
  }

  .bodyBackup{
    padding: 15px;
    overflow: hidden;
    margin: auto;
    width: 100%;
    margin-bottom: 5px;

    border: 1px solid #ced4da;
    border-radius: 4px;
    background-color: #fff;

    .button {
      width: 100%;
      padding: 12px;
      margin-top: 10px;
      margin-bottom: 10px;
      border-radius: 4px;
      font-weight: 100;
      background-color: #fa6b49;
      border-color: #fa6b49;
    }
  }
  .dropdown-custom-item{
    margin: 0;
  }
  .dropdown-custom-menu{
    text-align: left;
  }
  .dropdown-receive{
    margin: 0!important;
    margin-bottom: 25px!important;
    margin-top: 20px!important;
  }
  .addressDivPopup {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 14px;
    word-wrap:break-word;
    color: #059fb3;
    font-weight: 400;
    font-family: monospace;
    letter-spacing: 1px;
  }
  .link-request-custom-amount {
    cursor: pointer;
    color: #1e4eff;
    margin: 10px;
  }
  .bodyShareAddress {
      text-align: center;
      .input-group {
        height: 50px;
    }
  }

  .bodyTitle{
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 5px;
  }

.labelText{
  margin-bottom: 10px;
  font-weight: 400;
  margin-top: 20px;
}
.textCenter{
  text-align: center;
}
.dropdown-wallet-tranfer{
  margin: 0!important;
  margin-bottom: 10px!important;
  .btn{
    padding-left: 10px;
    text-align: left;
    border: 0!important;
    background: transparent!important;
    box-shadow: none!important;
  };
  .btn-group{
    border: 1px solid #EFEFEF;
    padding: 8px;
    border-radius: 5px;
    padding-left: 1px;
  }
  .dropdown-custom-item{
    margin-left: 10px!important;
  };
  .dropdown-toggle::after{
    float: right;
    margin-top: 10px;
  }
  .dropdown-item{
    border-bottom: 1px solid #ededed;
    padding: 0.6rem 1.5rem;
  }
  .dropdown-menu{
    width: 100%;
  }
  .dropdown-item:last-child{
    border: 0;
  }
}
.button-wallet-cpn{
  // position: fixed;
  // bottom: 0;
  // width: 100%;
  // left: 0;
  // border-radius: 0;
  padding: 0.9625rem 0;
  margin-top: 30px;
}

.bodyConfirm .left{
    float: left;
    width: auto;
    padding-left: 30px;
    padding-right: 30px;
    min-width: 125px;
  }
  .bodyConfirm .right{
    float: right;
    width: auto;
    padding-left: 30px;
    padding-right: 30px;
    min-width: 125px;
  }
  .bodyConfirm{
    padding: 15px;
    overflow: hidden;
    margin: auto;
    width: 100%;
    margin-bottom: 5px;

  }
}
