@import './src/styles/style';
.wrapperBettingBook {
    padding: rem-calc(30px 10px 20px 10px);
    font-family: $font-family-base;
    font-size: rem-calc(14px);
    display: flex;
    width: 100%;
    margin-top: rem-calc(10px);
    margin-bottom: rem-calc(10px);
    align-items: center;
    background-color: '#FFFFFF';

    .oddText {
        color: 'white';

    }
    .amountText {
        color: '#FA6B49';
    }
}