.radio-container {
  display: inline-block;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    &:checked ~ button {
      background-color: #ffffff;
      opacity: 1;
    }
    & ~ button {
      background-color: buttonface;
      opacity: 0.6;
    }
  }
  &:not(:first-of-type) {
    margin-left: 8px;
  }
}

.select-customized {
  -webkit-appearance: none;
  -moz-appearance:    none;
  appearance:         none;
  outline: none;
  height: calc(2rem + 1px);
  border: none;
  background: url("../../../assets/images/icon/Triangle.svg") no-repeat right center;
  background-size: 8px 10px;
  border-radius: 0;
  border-bottom: 1px solid #add0ff;
}
