.radio-container-old {
  display: inline-block;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    &:checked ~ button {
      //background-color: #ffffff;
      border: 2px solid transparent;
      background-color: rgba(29,29,38,0.30);
      opacity: 1;
      box-shadow: none;
    }
    & ~ button {
      border: 2px solid rgba(29,29,38,0.30);
      //background-color: buttonface;
      background: transparent;
      opacity: 0.6;
    }
  }
  &:not(:first-of-type) {
    margin-left: 8px;
  }
}



.radio-container {
  display: inline-block;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    &:checked ~ button {
      //background-color: #ffffff;
      background: none;
      //border: 2px solid transparent;
      border: none;
      //background-color: rgba(29,29,38,0.30);
      opacity: 1;
      box-shadow: none;
    }
    & ~ button {
      //border: 2px solid rgba(29,29,38,0.30);
      border: none;
      //background-color: buttonface;
      background: transparent;
      opacity: 0.3;
    }
  }
  &:not(:first-of-type) {
    margin-left: 8px;
  }
}

.select-customized {
  -webkit-appearance: none;
  -moz-appearance:    none;
  appearance:         none;
  outline: none;
  height: calc(2rem + 1px);
  border: none;
  background: url("../../../assets/images/icon/Triangle.svg") no-repeat right center;
  background-size: 8px 10px;
  border-radius: 0;
  border-bottom: 1px solid #add0ff;
  padding-right: 4px;
}

.numeric-input {
  width: 30px;
  padding: 0;
  border: 1px solid rgba(255,255,255,0.2);
  background: transparent;
  border-radius: 0;
  height: 30px;
  line-height: 1;
  //&:focus {
  //  box-shadow: none;
  //}
}

.input-no-border {
  border-bottom: 0;
  padding-top: 4px;
}
