@import './src/styles/style';

.BetModeContainer {
  .OrderPlace {
    > .TabPanel > .OrderMode {
      margin-top: -168px;
      padding: 168px 0 20px 0;
    }
  }
}
.OrderPlace {
  padding-top: 20px;
  .TabList {
    justify-content: space-between;
  }
  > .TabPanel > .OrderMode {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin-top: -122px;
    padding: 122px 0 20px 0;
  }
  .TabItem.OrderPlaceType {
    &:hover {
      cursor: pointer;
    }
    width: 48%;
    text-align: center;
    line-height: rem-calc(22px);
    background-color: transparent;
    padding: rem-calc(7px);
    border: 1px solid #979797;
    text-transform: uppercase;
    @media (max-width: 350px) {
      font-size: rem-calc(10px);
    }
    &.Active.Green {
      border: none;
      background: $caribbean-green;
    }
    &.Active.Orange {
      border: none;
      background: #fa6b49;
    }
  }
  .OrderMode {
    .TabList {
      margin: 15px 0 0;
      padding: 10px 0;
      border: 1px solid #979797;
      border-left: none;
      border-right: none;
      min-height: 42px;
      justify-content: flex-start;
      .TabItem {
        margin-right: 20px;
        text-transform: uppercase;
      }
    }
    .TabPanel {
      // max-height: 40vh;
      flex: 1 1 auto;
      overflow: auto;
    }
  }
  .OrderModeType {
    &.TabItem {
      color: rgba(255, 255, 255, 0.4);
    }
    &.Active {
      color: #ffffff;
    }
  }
  .wrapperBetting {
    padding: 0;
    .formInput {
      margin-bottom: 15px;
      padding: 0;
      background: transparent;
    }
    .rowWrapper {
      position: relative;
      color: #ffffff;
      font-size: 13px;
      flex-wrap: nowrap;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 15px;
      label,
      .form-control-custom,
      .amountLabel, .amountValue {
        width: 48%;
      }
      .amountLabel, .amountValue {
        display: block;
      }
      label {
        margin-top: 7px;
      }
      .label {
        flex-basis: 48%;
        opacity: 1;
      }
      .form-control-custom {
        color: #ffffff;
        flex-basis: auto;
        font-size: 13px;
        padding-right: 40px;
        &[name="event_odds"],
        &[name="odds"] {
          padding-right: 90px;
        }
      }
      .amountValue {
        text-align: right;
        font-weight: 500;
      }
    }
    .cryptoCurrency,
    .cryptoCurrencyamount,
    .cryptoCurrencyatOdds {
      position: absolute;
      right: 7px;
      top: 7px;
      left: auto;
      z-index: 5;
      font-size: 12px;
      font-weight: lighter;
      color: #C8C7CC;
    }
  }
  .orderBookContainer {
    border-top: 1px solid #979797;
    padding: 15px 0;
    .orderBookTitle {
      color: #ffffff;
      font-size: 0.75rem;
      text-transform: uppercase;
      margin-bottom: 10px;
    }
    .item,
    .titleBox,
    .marketBox,
    .wrapperGroupBook {
      background-color: #121C43;
    }
    .titleBox,
    .marketBox {
      margin-bottom: 0;
    }
  }
  .btn {
    border: none;
    border-radius: 0;
    text-transform: uppercase;
    font-size: 0.75rem;
    line-height: rem-calc(22px);
    font-weight: normal;
    height: 40px;
  }
  .btn.Green {
    background-color: $caribbean-green;
  }
  .btn.Orange {
    background-color: #fa6b49;
  }

  .estimateRowWrapper {
    margin-top: 10px;
  }
}

// Betting Mode
.BetModeContainer {
  > .TabList {
    display: flex;
    padding: 10px 20px;
    justify-content: space-around;
    background: #0C1B51;
    .BetModeItem {
      position: relative;
      padding: 2px 0 2px 30px;
      &:before {
        content: '';
        position: absolute;
        top: 1px;
        left: 0;
        display: inline-block;
        width: 20px;
        height: 20px;
        background: rgba(216,216,216,0.14);
        border: 2px solid #434B6B;
        border-radius: 50%;
      }
      &.Active {
        &:after {
          content: '';
          position: absolute;
          top: 8px;
          left: 7px;
          width: 6px;
          height: 6px;
          background: #ffffff;
          border-radius: 50%;
        }
      }
    }
  }
  > .TabPanel {
    padding: 20px 20px 20px;
  }
  .ComponentStatistics {
    padding: 0;
  }
}

.matchMarketFee {
  display: flex;
  flex-basis: 100%;
  color: #ffffff;
  font-size: rem-calc(12px);
  justify-content: space-between;
  margin-bottom: 10px;
  .feeValue {
    font-size: rem-calc(14px);
    font-weight: 700;
  }
}

.ComponentStatistics {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 20px 20px 0;
  .Title {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-basis: 50%;
    color: #FFFFFF;
    font-size: rem-calc(14px);
  }
  .Statistics {
    display: flex;
    flex-basis: 50%;
    .Item {
      display: flex;
      flex-direction: column;
      flex-basis: 50%;
      text-align: center;
    }
    .Name {
      color: #ffffff;
      font-size: rem-calc(14px);
      text-transform: capitalize;
    }
    .Percent {
      font-size: rem-calc(18px);
      font-weight: 600;
      &.oppose {
        color: #fa6b49;
      }
      &.support {
        color: #0BDD91;
      }
    }
  }
  .Percentages {
    display: flex;
    flex-basis: 100%;
    font-size: 5px;
    padding-top: 15px;
    .oppose {
      background-color: #fa6b49;
    }
    .support {
      background-color: #0BDD91;
    }
  }
}