/**
 * SearchBar Component.
*/
@import './src/styles/style';

.multi-language {
  .country-name {
    font-size: rem-calc(14px);
  }
  .expand-arrow {
    margin-left: rem-calc(10px);
    width: rem-calc(10px);
  }
  .country-block {
    padding: rem-calc(20px 0);
    .text {
      margin-bottom: rem-calc(32px);
      text-align: center;
      font-weight: $semi-bold;
      font-size: rem-calc(22px);
      color: $black;
    }
    .country {
      display: flex;
      align-items: center;
      padding: 15px 0;
      border-bottom: 1px solid #f0f0f0;
      &:last-child {
        border-bottom: none;
      }
      .flag,
      .name {
        display: inline-block;
      }
      .flag {
        width: 44px;
        height: 28px;
        margin-right: 15px;
      }
      .name {
        width: 90%;
        font-weight: $normal;
        font-size: rem-calc(18px);
        color: $black;
        text-align: left;
      }
      .tick {
        width: 15px;
      }
    }
    .active {
      .name {
        font-weight: $semi-bold;
      }
    }
  }
}
