@import './src/styles/style';

.checkout-wrapper{
  padding-bottom: 30px;

  .ratelock{
    margin:0 -1rem;
    padding: 0.5rem;
    background: #ffc107;

    .timer{
      border-radius: 5px;
      padding: 0.3rem 0.4rem;
      background: #343a40;
      color:white;
      float: left;
      font-size:1.4rem;
      font-weight: 400;
      text-align: center;
      margin-right: 1rem;
      min-width: 90px;
    }
    .msg{

      span{
        display: block;
      }
      .title{
        font-size:1rem;
        font-weight: 400;
      }
      .rate{
        font-size:0.8rem;
        color: #6c757d;
        height: 19px;
      }
    }
  }

  .checkout-container{
    padding-bottom: 30px;
  }

  .wallet-info{
    margin-top: 2rem;

    .help{
      margin-top: 1rem;
      text-align: right;
    }

    .button-wallet-cpn{
      margin-top: 2rem;
    }

    .disabled{
      background: silver;
      border-color: gray;
    }
  }

  nav{
    margin-top: 1rem;
    .nav-link{
      background: white;
      color: Black;
      box-shadow: 0 1px 2px rgba(0,0,0,.14), 0 2px 17px rgba(0,0,0,.06);
      margin-right: 10px;
    }
    .nav-link:last-child{
      margin-right: 0px;
    }
    .active{
      background-color: #343a40 !important;
    }
  }

  .expired-info {
    margin-top: 1rem;
    color: #2d2d2d;
    letter-spacing: 0;
    text-align: center;
    padding: 24px 0;
    position: relative;
    -ms-flex-negative: 0;
    flex-shrink: 0;

    .icon{
      img {
        height: 70px;
      }
      margin-bottom: 2rem;
    }
    .title {
      font-weight:400;
      font-size: 1rem;
      margin-bottom: 1rem;
      white-space: nowrap;
    }

    .msg{
      margin-bottom: 2rem;
      font-size: 0.8rem;
      color: #cdcdcd;
    }
  }

  .amount-info {
    margin-top: 1rem;
    color: #2d2d2d;
    font-size: 19px;
    line-height: 1.23;
    letter-spacing: 0;
    text-align: center;
    padding: 24px 0;
    position: relative;
    -ms-flex-negative: 0;
    flex-shrink: 0;

    .icon{
      height: 70px;
      line-height: 45px;
      text-align: center;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-align: center;
      align-items: center;
      -ms-flex-pack: center;
      justify-content: center;

      img{
        height: 70px;
      }
    }

    .crypto-amount{
      font-weight: 400;
      margin-top: 24px;
      font-size: 28px;
    }

    .amount {
      color: #cdcdcd;
      font-size: 18px;
      margin-top: 5px;
      white-space: nowrap;
    }

    .labelText{
      margin-bottom: 5px;
    }

    .toAddress{
      padding: 10px 0px;
      margin-bottom: 20px;
      border-radius: 6px;
      background: #e4f1fd;

      p.address {
        text-align: center;
        font-size: 15px;
        margin: 0px;
        padding-bottom: 10px;
      }

      p.copyAddress{
        font-size: 15px;
        margin: 10px 0px 0px 0px;
        width: 50%;
        text-align: center;
        cursor: pointer;
      }

      p.qrCode{
        float: right;
        font-size: 15px;
        margin: 10px 0px 0px 0px;
        text-align: center;
        width: 50%;
        cursor: pointer;
      }
    }
  }

  .dropdown-wallet-tranfer{
    margin: 0!important;
    margin-bottom: 10px!important;
    .labelText {
      margin-bottom: 5px;
    }
    .btn{
      padding-left: 10px;
      text-align: left;
      // border: 0!important;
      // background: transparent!important;
      // box-shadow: none!important;
      // color: #ffffff;
    };
    .btn-group{
      // background: #4869D1;
      // border: 1px solid #6485F6;

      // border: 1px solid #6c95ea;
      // background: rgba(255, 255, 255, 0.15);
      border: 1px solid #ced4da;
      background: #ffffff;

      padding: 5px;
      border-radius: 5px;
      padding-left: 1px;
      button{
        background-color:transparent;
        border: none;
      }
      button:hover{
        background-color:transparent;
        border: none;
      }
    }
    .dropdown-custom-item{
      margin-left: 10px!important;
    };
    .dropdown-toggle::after{
      float: right;
      margin-top: 10px;
    }
    .dropdown-item{
      border-bottom: 1px solid #ededed;
      padding: 0.6rem 1.5rem;
    }
    .dropdown-menu{
      width: 100%;
    }
    .dropdown-item:last-child{
      border: 0;
    }
  }

  input[type=text], input[type=tel], input[type=number]{
    font-size: 16px;
    line-height: 22px;
    height: 45px;
    border-radius: 6px;
    // color: #fff;
    font-weight: 300;
  }

  .button-wallet-cpn{
    // position: fixed;
    // bottom: 0;
    // width: 100%;
    // left: 0;
    // border-radius: 0;
    padding: 0.9625rem 0;
  }
}
