@import './src/styles/style';

.collapse-custom-black {
  border-bottom: 0.5px outset #f7f7f7;
  font-weight: $normal;
  .head {
    padding: rem-calc(21px);
    display: flex;
    flex-wrap: wrap;
    &:hover {
      cursor: pointer;
    }
    .label {
      width: 94%;
      display: flex;
      margin: 0;
      font-size: rem-calc(20px);
      color: #FFFFFF;
      letter-spacing: 0;
      font-weight: $light;
      line-height: rem-calc(35px);
      .index {
        flex-basis: 4%;
      }
    }
    .extend {
      width: 6%;
      text-align: right;
      img {
        transform: rotate(90deg);
      }
      .rotate {
        transform: rotate(0);
      }
    }
  }
  .noList {
    opacity: 0.6;
  }
  .content {
    margin-bottom: rem-calc(40px);
    margin-top: rem-calc(-11px);
    padding-right: rem-calc(40px);
    padding-left: rem-calc(21px);
    font-size: rem-calc(20px);
    color: #FFFFFF;
    letter-spacing: 0;
    line-height: rem-calc(35px);
    font-weight: $light;
  }
}

.collapse-custom-white {
  font-family: azo-sans-web, sans-serif;
  &:not(:last-of-type) {
    border-bottom: 1px solid #efefef;
  }
  font-weight: $normal;
  .head {
    font-weight: 700;
    padding: rem-calc(21px);
    display: flex;
    flex-wrap: wrap;
    &:hover {
      cursor: pointer;
    }
    .label {
      width: 94%;
      display: flex;
      margin: 0;
      font-size: 18px;
      color: #484848;
      letter-spacing: 0;
      font-weight: 500;
      line-height: rem-calc(35px);
      .index {
        width: 8%;
      }
      .collapse-content {
        width: 94%;
      }
    }
    .extend {
      width: 6%;
      text-align: right;
      img {
        transform: rotate(90deg);
      }
      .rotate {
        transform: rotate(0);
      }
    }
  }
  .noList {
    //opacity: 0.6;
  }
  .content {
    font-family: azo-sans-web, sans-serif;
    font-weight: 400;
    margin-bottom: rem-calc(40px);
    margin-top: rem-calc(-11px);
    padding-right: rem-calc(40px);
    padding-left: rem-calc(21px);
    font-size: 18px;
    color: #484848;
    letter-spacing: 0;
    line-height: 28px;
    font-weight: $light;
  }
}
