.form-control-custom-ex {
  border-color: #add0ff;
  &::placeholder {
    color: #ffffff;
    opacity: 0.4;
  }
  &:focus {
    border-color: darkblue;
  }
  &::placeholder {
    opacity: 1;
    color: #C8C7CC;
  }
}
input {
  color: #ffffff;
}

.hrLine {
  background: rgba(255,255,255,0.2);
  margin: 10px 0;
}
