/**
 * StarsRating Component.
*/
@import './src/styles/style';
$color: #F0BC38;

@mixin not-full-style {
  overflow: hidden;
  content: "\2605";
  position: absolute;
}

.stars-rating {
  span {
    margin-right: rem-calc(4.2px);
    font-size: 16px;
    color: $color;
    &:last-child {
      margin-right: 0;
    }
    //&:before {
    //  content: "\2605";
    //  position: absolute;
    //}
  }
  .quarter:before {
    //color: $color;
    width: 6px;
    @include not-full-style;
  }
  .half:before {
    //color: $color;
    width: 8px;
    @include not-full-style;
  }
  .three-fourths:before {
    //color: $color;
    width: 10px;
    @include not-full-style;
  }
  .full {
    //color: $color;
    &:before {
      content: "\2605";
      position: absolute;
    }
  }
  .empty {
    //color: $color;
  }
}
