@import './src/styles/style';

.wrapperBettingBook {
  font-family: $font-family-base;
  font-size: rem-calc(12px);
  font-weight: $normal;
  letter-spacing: 0;
  line-height: 22px;
  display: flex;
  margin-top: rem-calc(10px);
  margin-bottom: rem-calc(10px);
  align-items: center;
  justify-content: space-between;

  .oddText {
    color: $white;
  }
  .amountText {
    color: #FA6B49;
  }
}
