@import './src/styles/style';

.discover {
  .feed-wrapper {
    margin-bottom:  rem-calc(23px);
  }
  .category-wrapper {
    margin-bottom: rem-calc(11px);
  }
  .buy-sell-wrapper {
    margin-bottom: rem-calc(15px);
  }
}
