@import './src/styles/style';

.discover {
  .top {
    background: $black;
    margin-bottom: rem-calc(15px);
    padding: rem-calc(6px 15px 3px 15px);
    .logo {
      display: inline-block;
      width: 10%;
      img {
        width: 32px;
        vertical-align: baseline;
      }
    }
    .category-wrapper {
      position: relative;
      top: 3px;
      display: inline-block;
      width: 80%;
      margin-left: 10%;
    }
  }
  .feed-wrapper {
    margin-bottom: rem-calc(23px);
  }
  .buy-sell-wrapper {
    margin-bottom: rem-calc(15px);
  }
  .search-bar-wrapper {
    margin-bottom: rem-calc(15px);
  }
  .faq {
    margin-top: rem-calc(30px);
    dl {
      dd {
        font-size: rem-calc(18px);
      }
      dt {
        font-weight: $normal;
      }
    }
  }
}

.discover-overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: rgba($color: $black, $alpha: 0.3);
  display: none;
  &.show {
    display: block;
  }
  img {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
