.select-list-country-code {
  position: absolute;
  left: -121px;
  top: -345px;
  padding: 10px;
  background: black;
  width: 250px;
  max-height: 340px;
  overflow-y: scroll;
  border-radius: 5px;
  &:focus {
    box-shadow: none;
    outline: none;
  }
}
.select-item-country-code {
  cursor: pointer;
  margin-bottom: 8px;
  //width: 200px;
}
