@import './src/styles/var';

.alerts {
    position: fixed !important;
    top: 0;
    left: 0;
    right: 0;
    max-width: $app-width;
    margin: 0 auto;
    z-index: $z-index-alert;
    border: none !important;
    border-radius: 0 !important;
}

.alert-success{
  svg {
    margin-bottom: 1px;
    margin-right: 5px;
  }
}
