.projectItem{
  background-color: #fff;
  padding:28px 20px 5px 20px;
  margin-bottom:9px;
  max-height: 454px;
  clear:'both';
  cursor: pointer;
  box-shadow: 0 5px 14px -8px rgba(102,102,102,0.50);
}
.progressbar{
  height: 4px;
}
.progressCount{
  position: absolute;
  font-size: 14px;
  top:-14px;
  right:0;
  color:#000;
}
.progressBlock{
  position: relative;
  padding:0.5em 0 ;
}
.fundBlock{
  margin:0.7em 0;
  padding:0.9em 0;
  text-align: center;
  padding-bottom:5px;
}
.fund-label,.fund-item-value{
  text-transform: uppercase;
  font-size: 13px;
  text-align: left;
  display:block;
}
.fund-label{
  font-weight: bold;
  color :#868DAD;
}
.fund-item{
  margin-right: 1em;
  display:inline-block;
}
.userImage{
  width:30px;
  height:30px;
  border-radius: 50%;
}
.userInfoBlock{
  clear:both;
}
.userItem{
  float:left;
  position: relative;
}
.userName{
  margin-left: 10px;
}
.star-ratings{
  position: relative;
}
.rating-count{
  position: relative;
  font-size: 12px;
  margin-left:3px;
}
.duration-left{
  float:right;
  font-size: 14px;
  text-transform: uppercase;
}
.float-left{
  float:left;
}
.float-right{
  float:right;
}
.userInfoBlockProjectDetails{
  margin-top:13px;
}
.invest-button-form-block{
  background-color: #fafbff;
  padding:28px 20px;
}
.inputGroupInvestButton{
  height: 54px;
  border-radius: 4px;
}
.inputGroupInvestField{
 height: 54px;
 border-color: #E5EAF8;
}
.inputGroupInvestIcon{
  padding: 0 18px;
  border:1.5px solid #E5EAF8;
  border-left:0;
}
.invest-submit-button{
  background-color: #546FF7;
  color:#fff;
  font-weight:500;
  width:100%;
  height: 53px;
  margin: 14px auto;
  border-radius: 4px;
}
.active-tab h6{
  color:#868DAD;
}
