.profile {
    height: 450px;
    .relativeLine {
        position: relative;
    }
    &-picture {
        width: 100%;
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        img {
            width: 100px;
            height:100px;
            border-radius: 50%;
        }
    }
    &-banner {
        height: 200px;
        background-color: #4f7094;
    }
    &-sumary {
        padding: 10px;
        position: absolute;
        background-color: white;
        width: 90%;
        left: 5%;
        top: -50px;
        height: 200px;
        display: flex;
        flex-wrap: wrap;
        .block {
            width: 50%;
            height: 50%;
            label {
                display: block;
                font-weight: bold;
                font-size: 14px;
            }
            .grey {
                color: grey;
                font-size: 11px;
                font-weight: normal;
            }
            .green {
                color: green;
            }
            .black {
                color: black;
            }
            &-b1 {
                // background-color: red;
            }
            &-b2 {
                // background-color: yellow;
            }
        }
    }
}
.funding {
    padding: 5%;
    &-title {
        label {
            font-size: 15px;
            color: grey;
        }
    }
    &-body {
        background-color: #ffffff;
        font-size: 14px;
        padding-top: 10px;
        &-row {
            margin: 10px;
            // height: 50px;
            // background-color:green;
            border-bottom: 0.5px solid grey;
            display: flex;
            flex-direction: row;
            &-left {
                min-width: 70%;
                // background-color: yellow;
                label {
                    display: block;
                    font-weight: 400;
                    color: black;
                }
                .progress {
                    margin: 0px 0px 10px 22px;
                    height: 4px;
                }
                .progress-title {
                    margin-left: 22px;
                }
            }
            &-right {
                text-align: right;
                label {
                    width: 100%;
                }
            }
        }
    }
}

.completed {
    padding: 5%;
    &-title {
        label {
            font-size: 15px;
            color: grey;
        }
    }
    &-body {
        background-color: #ffffff;
        padding-top: 10px;
        &-row {
            &-title {
                padding: 10px;
                font-size: 16px;
            }
            &-body {
                font-size: 14px;
                margin: 10px;
                // height: 50px;
                // background-color:green;
                border-bottom: 0.5px solid grey;
                display: flex;
                flex-direction: row;
                .green {
                    color: green;
                }
                &-left {
                    min-width: 50%;
                    // background-color: yellow;
                    label {
                        display: block;
                        color: grey;
                    }
                    .progress {
                        margin: 0px 0px 10px 22px;
                        height: 4px;
                    }
                    .progress-title {
                        margin-left: 22px;
                    }
                }
                &-right {
                    min-width: 50%;
                    text-align: right;
                    label {
                        display: block;
                        color: black;
                        font-weight: 400;
                    }
                }

            }
        }
    }
}

.colorTrader {
    &-green {
        color: green;
    }
    &-grey {
        color: grey
    }
}
.progress-bar {
    &-info {
        background-color: yellow;
    }
    &-success {
        background-color: green;
    }
    &-danger {
        background-color: red;
    }
}