@import './src/styles/style';

.landing-page {
  .landing-header {
    font-family: AzoSans-Bold;
    font-size: 26px;
    color: #F5EA16;
    letter-spacing: 0.5px;
  }
  .landing-subHeader {
    opacity: 0.8;
    font-family: AzoSans-Regular;
    font-size: 24px;
    color: #484848;
    letter-spacing: 0;
    margin-bottom: 15px;
  }
  .landing-title {
    font-family: AzoSans-Bold;
    font-size: 18px;
    color: #484848;
    letter-spacing: 0;
  }
  .landing-sub-title {
    opacity: 0.7;
    font-family: AzoSans-Regular;
    font-size: 16px;
    color: #484848;
    letter-spacing: 0;
    line-height: 18px;
  }
  .product {
    min-height: 370px;
  }
}
