@import './src/styles/style';

.wrapperBettingFilter {
  align-items: center;

  .dropDown {
    margin: rem-calc(20px);
  }
  .wrapperContainer {
    display: flex;
    justify-content: space-between;
  }

  .item {
    //flex-grow: 1; /* default 0 */
    flex-basis: 49.7%;
    border: none;
    padding: 0;
  }

}
