@import './src/styles/style';

.wrapperBettingFilter,
.orderBookContainer {
  align-items: center;

  .dropDown {
    margin: rem-calc(0 0 10px);
    .dropdown-custom {
      margin: rem-calc(0 20px 0 0);
    }
  }
  .wrapperContainer {
    display: flex;
    justify-content: space-between;
  }

  .share-block {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: rem-calc(18px);
    padding: rem-calc(8px 0);
    background-image: linear-gradient(90deg, #2456fb 0%, #1f2b34 100%);
    color: $white;
    .text {
      width: 60%;
      margin: 0;
      font-size: 1rem;
      font-weight: $normal;
      text-align: center;
    }
    .share {
      width: 40%;
      display: inline-block;
      text-align: right;
    }
  }

  .item {
    width: 49.8%;
    min-height: rem-calc(280px);
    border: none;
  }

  .item {
    display: flex;
    flex-direction: column;
    background: #1F2B34;
    padding: rem-calc(14px 10px 10px);
  }
  .titleBox, .spreadBox, .marketBox {
    display: flex;
    background-color: #1F2B34;;
    color: $white;
    font-size: rem-calc(11px);
    justify-content: space-between;
    letter-spacing: 0;
    margin-bottom: rem-calc(10px);

    .supportOdds {
      text-align: right;
    }
  }
  .marketBox {
    font-size: rem-calc(12px);
  }
  .opacity65 {
    opacity: 0.65;
  }
  .titleSupport {
    color: #FA6B49;

  }
  .freeBox {
    display: flex;
    color: $white;
    background: url("../../../../../assets/images/icon/betting/free-box.svg");
    font-size: rem-calc(18px);
    align-items: center;
    justify-content: space-between;
    .buttonBet {
      margin: rem-calc(10px 10px) !important;
      background: #FF001F !important;
      box-shadow: 0 2px 6px 0 rgba(0,0,0,0.50) !important;
      border-radius: rem-calc(6px) !important;
      font-size: rem-calc(14px) !important;
      color: #FFFFFF !important;
      letter-spacing: 0.29px !important;
      border: none !important;
      padding: 10px 13px;
      width: 6rem;
    }
    .contentFree {
      justify-content: center;
      text-align: center;
      font-weight: $normal;
      padding: rem-calc(10px 10px 10px 30px);
      font-size: rem-calc(16px);
      color: #FFFFFF;
      letter-spacing: 0.32px;
      text-shadow: 0 1px 5px rgba(0,0,0,0.50);
      span {
        font-weight: $bold;
        text-transform: uppercase;
      }
    }
  }
  .spreadBox {
    border-top: 1px solid #808080;
    border-bottom: 1px solid #808080;
    align-items: center;
  }
  .disable {
    color: $disable-color !important;
  }
  .modal {
    background-color: #1F2B34;
    .modal-dialog-content {
      border-radius: 0;
    }
    .modal-custom-body {
      padding: 20px;
      background-color: #000B35;
    }
  }
  .buttonSupport {
    background-color: $caribbean-green !important;
  }
  .buttonAgainst {
    background-color: #FA6B49 !important;
  }
  .buttonAgainst, .buttonSupport {
    border: none;
    border-radius: 0;
    height: rem-calc(40px) !important;
    font-size: rem-calc(12px);
    font-weight: $bold;
  }

  .btnRed {
    border: none;
    background: #fa6b49;
  }

  .btnBlue {
    border: none;
    background: #0BDD91;
  }
}
