@import './src/styles/style';

.wrapperBettingFilter {
  align-items: center;

  .dropDown {
    margin: rem-calc(0 0 10px);
    .dropdown-custom {
      margin: rem-calc(0 20px 0 0);
    }
  }
  .wrapperContainer {
    display: flex;
    justify-content: space-between;
  }



  .share-block {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: rem-calc(18px);
    padding: rem-calc(8px 0);
    background-image: linear-gradient(90deg, #2456fb 0%, #1f2b34 100%);
    color: $white;
    .text {
      width: 60%;
      margin: 0;
      font-size: 1rem;
      font-weight: $normal;
      text-align: center;
    }
    .share {
      width: 40%;
      display: inline-block;
      text-align: right;
    }
  }

  .item {
    flex-basis: 50%;
    width: 50%;
    border: none;
    padding: rem-calc(1px);
  }

  .item:first-child {
    display: flex;
    flex-direction: column;
  }
  .titleBox {
    display: flex;
    background-color: #1F2B34;;
    color: $white;
    font-size: rem-calc(12px);
    justify-content: space-between;
    letter-spacing: 0;
    padding: rem-calc(14px 10px);
  }
  .disable {
    color: #fa6b49 !important;
  }
}
