@import './src/styles/style';

.createComment {
  display: flex;
  justify-content: space-between;
  input {
    max-width: 306px;
    background: #F7F7F7;
    border-radius: rem-calc(6px);
    box-shadow: none;
    height: rem-calc(40px);
    font-size: rem-calc(16px);
    letter-spacing: 0;
    &::placeholder {
      color: #C8C7CC;
    }
  }
}
