@import './src/styles/style';

.NavigationBar {
  display: flex;
  margin-top: -10px;
  padding: rem-calc(12px) rem-calc(5px) rem-calc(10px);
  background-color: #2B2C39;

  .NavigationBarItem {
    margin: 0 rem-calc(5px);
    width: rem-calc(120px);
    background-color: #474853;
    border-radius: rem-calc(5px);

    img {
      padding-right: rem-calc(5px);
    }

    a {
      display: block;
      padding: rem-calc(5px);
      color: #D8D8D8;
      text-align: center;
      border-radius: rem-calc(5px);
      text-transform: capitalize;
    }

    a:hover, a:visited, a:link, a:active {
      text-decoration: none;
    }

    .Active {
      border: 1px solid #FFFFFF;
      color: #FFFFFF;
      background-color: #000000;
    }
  }

  .LanguageSelector {
    padding: rem-calc(7px) rem-calc(14px);
    color: #FFFFFF;

    .multi-language {
      width: rem-calc(70px);
    }
  }
}
