@import './src/styles/style';

.OutcomeItem {
  font-family: $font-family-base;
  font-size: rem-calc(20px);
  color: white;
  border-radius: rem-calc(6px);
  padding: rem-calc(15px 15px);
  height: rem-calc(85px);
  width: rem-calc(152px);
  margin-right: rem-calc(5px);
}
