.Prediction {
  .modal {
    background-color: #1F2B34;
    .modal-dialog-content {
      border-radius: 0;
    }
    .modal-custom-body {
      padding: 20px;
      background-color: #000B35;
    }
  }
}