@import './src/styles/style';

.Prediction {
  .Sticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    opacity: 0.9;
  }

  #PexCreateBtn {
    padding: 7px 0 14px 0;
    font-size: 15px;
    font-weight: 400;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 2;
    color: white;

    background-image: linear-gradient(-90deg, rgba(77,218,255,0.95) 5%, #21C4FF 54%, #47D4ED 100%);

    .Idea {
      padding-top: 7px;
    }

    .IconIdea {
      padding-right: rem-calc(5px);
      max-width: 30px;
    }

    button {
      color: #000000;
      background-color: #FDEE4B;
      width: 115px;
      height: 35px;
      font-size: 15px;
      font-weight: 400;
      border-radius: rem-calc(20px);
      box-shadow: 0 6px 0 0 #D9CB34;
    }
  }

  .BannerContainer {
    position:  relative;
    .btn-cta {
      position: absolute;
      left: rem-calc(20px);
      bottom: rem-calc(20px);
      color: #ffffff;
    }
  }
  .modal {
    background-color: #1F2B34;
    .modal-dialog-content {
      position: relative;
      border-radius: 0;
    }
    .modal-custom-body {
      max-height: 80vh;
      padding: 0;
      background-color: #000B35;
      > .Tabs {
        padding: 20px;
      }
      > .Tabs.BetModeContainer {
        padding: 0;
      }
    }
    .close {
      position: absolute;
      //top: -35px;
      //right: 0;
      top: 6px;
      right: 6px;
      z-index: 20;
      opacity: 1;
      font-size: 25px;
      font-weight: 100;
      border: 1px solid #fff;
      background-color: #fff;
      color: #000;
      border-radius: 50%;
      height: 30px;
      width: 30px;
      text-align: center;
    }
    &.BetSlipContainer {
      .modal-dialog-content {
        width: 100%;
        height: 100%;
      }
      .modal-custom-body {
        height: 100%;
        max-height: none;
      }
    }
    &.FullMode {
      .close {
        top: 40px;
        right: 5px;
      }
    }
  }

  .matchOutCome {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 20px 20px 0;
    .label {
      font-size: 14px;
      color: #FFFFFF;
    }
    .name {
      font-size: 18px;
      color: #FFFFFF;
      &.support {
        color: $caribbean-green;
      }
      &.oppose {
        color: #fa6b49;
      }
    }
  }

  .BetModeContainer {
    .matchOutCome {
      padding: 0 0 20px 0;
    }
  }

  .ViewAllEvent {
    display: flex;
    justify-content: center;
  }

  .CreateOwnEventBanner {
    background-image: url('../../assets/images/share/share-to-win.png');
    display: flex;
    justify-content: center;
    align-items: center;
    height: rem-calc(50px);

    .CreateOwnEventBannerText {
      font-family: $font-family-base;
      font-size: rem-calc(18x);
      color: #364164;
      letter-spacing: 0;
      font-weight: bold;
    }
  }

  .OutcomeList {
    height: 74px;
    overflow: hidden;
    margin: rem-calc(15px) rem-calc(-10px);

    .OutcomeItem {
      font-family: $font-family-base;
      font-size: rem-calc(20px);
      color: white;
      border-radius: rem-calc(6px);
      padding: rem-calc(10px 15px);
      margin-right: rem-calc(5px);
      line-height: rem-calc(27px);
      font-weight: $medium;
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;

      &.AddMoreOutcome {
        background-color: transparent !important;
        border: 2px dashed #CECECE;
        color: #615c5c;
        font-size: 30px;
      }

      span {
        display: block;
      }
    }

    .ScrollableList {
      height: 80px;
      overflow-x: auto;
      overflow-y: hidden;
      > div {
        display: flex;
        flex-direction: row;
      }
      .ScrollableItem {
        height: rem-calc(74px);
      }
      .ScrollableItem:first-child {
        margin-left: rem-calc(10px);
      }
      .ScrollableItem:last-child {
        margin-right: rem-calc(6px);
      }
    }
  }

  .EventItem {
    padding: rem-calc(20px 10px);
    font-family: $font-family-base;
    margin-bottom: rem-calc(10px);
    box-shadow: rem-calc(0 2px 10px 0) rgba(203, 203, 203, 0.50);

    .EventName {
      font-size: rem-calc(20px);
      color: #000000;
      letter-spacing: 0;
      line-height: rem-calc(24px);
      font-weight: $medium;
      margin-bottom: rem-calc(2px);
    }

    .EventNumberOfPlayer {
      font-size: rem-calc(14px);
    }

    .EventDetails {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
    }

    .EventMessage {
      display: flex;
      justify-content: space-between;
      padding: rem-calc(0px 10px);
      height: rem-calc(44px);
      align-items: center;

      background-image: linear-gradient(-180deg, #FFFFFF 0%, #F9FAFB 99%);
      border: 1px solid #DEDEDE;
      border-radius: rem-calc(6px);

      &:hover {
        text-decoration: none;
      }

      .EventMessageText {
        font-size: rem-calc(15px);
        color: #030303;
        letter-spacing: 0;
      }

      .EventMessageIcon {
        padding-right: rem-calc(5px);
        img {
          min-width: rem-calc(15px);
        }
      }
    }

    .EventTotalBetValue {
      color: #D0021B;
      font-weight: $normal;
    }

    .EventTimeLeftText, .EventTotalBetText {
      color: #8A8A8F;
      width: rem-calc(70px);
      font-size: rem-calc(14px);
    }

    .EventTimeLeftValue, .EventTotalBetValue {
      font-size: rem-calc(16px);
    }

    .EventTimeLeft, .EventTotalBet {
      display: flex;
      align-items: center;
    }

    .EventTotalBetValue {
      color: #D0021B;
    }
  }
  .share-social  {
    margin-top: 10px;
    img {
      width: 30px;
      margin-right: 8px;
    }
  }

  .outtaMoneyContainer {
    padding: rem-calc(30px);
    text-align: center;
    border-radius: 4px;
    background-color: #ffffff;
    .outtaMoneyTitle {
      color: #000000;
      font-size: rem-calc(22px);
      font-weight: bold;
      margin: rem-calc(20px) 0;
    }
    .outtaMoneyMsg {
      color: #000000;
      opacity: 0.6;
      font-size: rem-calc(17px);
      margin-bottom: rem-calc(30px);
    }
  }
}
