.extra-info-container {
  position: relative;
  .extra-info-icon {
    width: 20px;
    height: 20px;
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    border-radius: 20px;
    color: white;
    font-weight: bold;
  }
  .extra-info-data {
    position: absolute;
    font-size: 13px;
    right: 0px;
    background-color: rgba(0, 0, 0, 0.85);
    color: white;
    padding: 10px;
    border-radius: 5px;
    width: 85vw;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: opacity 0.5s;
    opacity: 0;
    z-index: 1;
    &.show {
      opacity: 1;
    }
  }
}
