@import './src/styles/style';

.about-cash {
  padding: 50px 0;
  background: black;
  //color: #979797;
  color: white;
  .heading-text {
    font-size: 50px;
    font-weight: 900;
  }
  .logo {
    width: 300px;
  }
}
