@import './src/styles/style';

.wrapperVerticalBlock {
  font-family: $font-family-base;
  line-height: 30px;
  margin-bottom: rem-calc(150px);
  align-items: center;
  display: flex;
  flex-direction: column;
}
.wrapperBlock {
  font-family: $font-family-base;
  line-height: 30px;
  margin: (12vw 0);
  display: flex;

  //position: relative;
  //transform: rotate(-30deg);
  //-color: #F3F8FF;

}
.wrapperHowToPlay {
  position: relative;
  .imageLeft {
    margin-top: 5.875rem;
    margin-left: 4.2rem;
  }
}

.wrapperHowToPlay:before {
  content: '';
  box-sizing: content-box;
  width: 100%;
  height: 100%;
  transform: skewY(-12deg);
  background: #F3F8FF;
  position: absolute;
  z-index: 0;
}
.wrapperMobile {
  position: relative;
  color: white;
  .contentBlock {
    padding-top: 8.5rem;
    padding-left: 5vw;
  }
  .imageContent {
    padding-top: 2.25rem;
  }
  .rightImageFirst {
    position: absolute;
    top: -114px;
    left: 0;
    right: 0;
  }
  .rightImageSecond {
    position: absolute;
    top: 203px;
    right: 20px;
  }
}
.wrapperExtentsion {
  margin-left: -1.875rem;
  .wrappeContent {
    padding-top: 3.875rem;
  }
}
.wrapperMobile::before {
  //content: '';

  /*
  border-left: 1175px solid #FF8308;
  border-top: 5vw solid transparent;
  border-bottom: 5vw solid transparent;
  width: 0;
  height: 564px;
  z-index: 0;
  position: absolute;
*/
  /*
  position: absolute;

  background: url('../../assets/images/landing/prediction/pex_mobile_bg.svg') no-repeat;
  height: 50vw;
  width: 100vw;
  margin-left: -10vw;
  margin-right: -10vw;
  */

}
.wrapperAnonymous {
  position: relative;
  color: white;
  .contentBlock {
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 7vw;
  }
}
// .wrapperAnonymous:before {
//   content: '';
//   border-right: 66vw solid #3023AE;
//   border-top: 7vw solid transparent;
//   border-bottom: 5vw solid transparent;
//   width: 0;
//   height: 35vw;
//   z-index: 0;
//   position: absolute;
// }

.column {
  width: 50%;
  z-index: 1;
  padding: rem-calc(30px 40px);
  position: relative;
}
.wrapperSmallBlock {
  margin-bottom: rem-calc(50px);

}
/*
.wrapperHowToPlay:before {
  content: '';
  background-color: #F3F8FF;
  transform: rotate(-30deg);
  position: absolute;
  width: 100%;
  height: 100%;
  top: -50%;
  left: -50%;
  z-index: -1;
}
*/
.pexHeadLine {
  font-size: rem-calc(46px);

}
.pexSmallTitle {
  font-size: rem-calc(20px);
  margin-top: rem-calc(20px);
}
.pexContent {
  font-size: rem-calc(18px);
  margin-top: rem-calc(30px);
}
.pexButton {
  background: #FFF988;
  border-radius: rem-calc(5px);
  font-size: rem-calc(16px);
  letter-spacing: 0;
  border: 1px solid #F5D516;
  height: rem-calc(44px);
  width: rem-calc(250px);
}
.wrapperContentHowToPlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 2rem;
}
.section {
  position: relative;
  margin-left: -100px;
  margin-right: -100px;
  //height: 30vw;
}
.bg-gradient-mobile {
  background: linear-gradient(-179deg, #FF8308 0%, #FD4F00 100%);
}
.bg-gradient-anonymous {
  background: linear-gradient(0deg, #3023AE 0%, #7042BF 97%);
}


.mobile_recDown {

  border-left: 1311px solid transparent;
  border-right: 0vw solid transparent;
  border-top: 122px solid white;
  position: absolute;
}
.mobile_recUp {
  border-left: 1311px solid transparent;
  border-bottom: 96px solid white;
  position: absolute;
  bottom: 0;
}
.mobile_shape1 {
  position: absolute;
  top: 0;
  right: 0;
}
.mobile_shape2 {
  position: absolute;
  left: 5vw;
  bottom: 18px;
}
.anonymous_recDown {

  border-left: 231vw solid white;
  border-right: 0vw solid transparent;
  border-top: 186px solid transparent;
  position: absolute;
  bottom: 0;
}
.anonymous_recUp {
  border-left: 1311px solid white;
  border-bottom: 108px solid transparent;
  position: absolute;
  top: 0;
}
.anonymous_shape1 {
  position: absolute;
  left: 0;
  top: 109px;
}
.anonymous_shape2 {
  position: absolute;
  right: 32px;
  top: 50px;
}
.anonymous_shape3 {
  position: absolute;
  left: 0px;
  bottom: 186px;
}


