@import './src/styles/style';

.content-for-wallet{
  margin-top: 10px;

  .check-features{
    width: 12px;
    color:white;
  }

  .section{
    margin-left: calc(-100vw/2 + 1040px /2);
    margin-right: calc(-100vw/2 + 1040px /2);
  }

  @media (max-width: 1040px) and (min-width: 992px)
  {
    .section{
      margin-left: calc(-100vw/2 + 960px/2);
      margin-right: calc(-100vw/2 + 960px/2);
    }
  }

  @media (max-width: 992px)
  {

    .main-screen{
      position: inherit;
      top:0;
      padding-top: 3rem;
    }
    .order-md-2, .shape-default{
      display:none;
    }
    .order-md-1{
      width: 100%;
      max-width: 100%;
      flex: auto;
    }
    .order-lg-2{
      max-width: 100%;
      flex:none;
    }
  }

  @media (max-width: 992px) and (min-width: 768px)
  {
    .section{
      margin-left: calc(-100vw / 2 + 720px /2);
      margin-right: calc(-100vw / 2 + 720px /2);
    }
  }

  @media (max-width: 768px) and (min-width: 576px)
  {
    .section{
      margin-left: calc(-100vw / 2 + 540px /2);
      margin-right: calc(-100vw / 2 + 540px /2);
    }
  }

  @media (max-width: 576px)
  {
    .section{
      margin-left: auto;
      margin-right: auto;
    }
  }
}
