@import url("https://p.typekit.net/p.css?s=1&k=bro5hwc&ht=tk&f=35957.35959.35961.35963.35965.35967.35969&a=13659694&app=typekit&e=css");

    @font-face {
    font-family:"motiva-sans";
    src:url("https://use.typekit.net/af/244666/00000000000000003b9b0a08/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3") format("woff2"),url("https://use.typekit.net/af/244666/00000000000000003b9b0a08/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3") format("woff"),url("https://use.typekit.net/af/244666/00000000000000003b9b0a08/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3") format("opentype");
    font-style:normal;font-weight:900;
    }

    @font-face {
    font-family:"motiva-sans";
    src:url("https://use.typekit.net/af/8d8e96/00000000000000003b9b0a0a/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/8d8e96/00000000000000003b9b0a0a/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/8d8e96/00000000000000003b9b0a0a/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
    font-style:normal;font-weight:700;
    }

    @font-face {
    font-family:"motiva-sans";
    src:url("https://use.typekit.net/af/9bcb46/00000000000000003b9b0a0c/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n8&v=3") format("woff2"),url("https://use.typekit.net/af/9bcb46/00000000000000003b9b0a0c/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n8&v=3") format("woff"),url("https://use.typekit.net/af/9bcb46/00000000000000003b9b0a0c/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n8&v=3") format("opentype");
    font-style:normal;font-weight:800;
    }

    @font-face {
    font-family:"motiva-sans";
    src:url("https://use.typekit.net/af/ff7da1/00000000000000003b9b0a0e/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("woff2"),url("https://use.typekit.net/af/ff7da1/00000000000000003b9b0a0e/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("woff"),url("https://use.typekit.net/af/ff7da1/00000000000000003b9b0a0e/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("opentype");
    font-style:normal;font-weight:300;
    }

    @font-face {
    font-family:"motiva-sans";
    src:url("https://use.typekit.net/af/741b78/00000000000000003b9b0a10/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("woff2"),url("https://use.typekit.net/af/741b78/00000000000000003b9b0a10/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("woff"),url("https://use.typekit.net/af/741b78/00000000000000003b9b0a10/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("opentype");
    font-style:normal;font-weight:500;
    }

    @font-face {
    font-family:"motiva-sans";
    src:url("https://use.typekit.net/af/fc33c4/00000000000000003b9b0a12/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/fc33c4/00000000000000003b9b0a12/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/fc33c4/00000000000000003b9b0a12/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
    font-style:normal;font-weight:400;
    }

    @font-face {
    font-family:"motiva-sans";
    src:url("https://use.typekit.net/af/2c6d51/00000000000000003b9b0a14/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n2&v=3") format("woff2"),url("https://use.typekit.net/af/2c6d51/00000000000000003b9b0a14/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n2&v=3") format("woff"),url("https://use.typekit.net/af/2c6d51/00000000000000003b9b0a14/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n2&v=3") format("opentype");
    font-style:normal;font-weight:200;
    }

    .tk-motiva-sans { font-family: "motiva-sans",sans-serif; }
    :root
    {
        --blue: #546FF7;
        --indigo: #5603ad;
        --purple: #8965e0;
        --pink: #f3a4b5;
        --red: #f5365c;
        --orange: #fb6340;
        --yellow: #ffd600;
        --green: #2dce89;
        --teal: #11cdef;
        --cyan: #2bffc6;
        --white: #fff;
        --gray: #8898aa;
        --gray-dark: #32325d;
        --light: #ced4da;
        --lighter: #e9ecef;
        --primary: #546FF7;
        --secondary: #f4f5f7;
        --success: #2dce89;
        --info: #11cdef;
        --warning: #fb6340;
        --danger: #f5365c;
        --light: #adb5bd;
        --dark: #212529;
        --default: #172b4d;
        --white: #fff;
        --neutral: #fff;
        --darker: black;
        --breakpoint-xs: 0;
        --breakpoint-sm: 576px;
        --breakpoint-md: 768px;
        --breakpoint-lg: 992px;
        --breakpoint-xl: 1200px;
        --font-family-sans-serif: -apple-system, BlinkMacSystemFont, 'motiva-sans', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
        --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
    }

    *,
    *::before,
    *::after
    {
        box-sizing: border-box;
    }

    html
    {
        font-family: sans-serif;
        line-height: 1.15;

        -webkit-text-size-adjust: 100%;
            -ms-text-size-adjust: 100%;
        -ms-overflow-style: scrollbar;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }

    @-ms-viewport
    {
        width: device-width;
    }

    article,
    aside,
    figcaption,
    figure,
    footer,
    header,
    hgroup,
    main,
    nav,
    section
    {
        display: block;
    }

    body
    {
        font-family: 'motiva-sans', sans-serif;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;

        margin: 0;

        text-align: left;

        color: #525f7f;
        background-color: #fff;
    }

    [tabindex='-1']:focus
    {
        outline: 0 !important;
    }

    hr
    {
        overflow: visible;

        box-sizing: content-box;
        height: 0;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6
    {
        margin-top: 0;
        margin-bottom: .5rem;
    }

    p
    {
        margin-top: 0;
        margin-bottom: 1rem;
    }

    abbr[title],
    abbr[data-original-title]
    {
        cursor: help;
                text-decoration: underline;
                text-decoration: underline dotted;

        border-bottom: 0;

        -webkit-text-decoration: underline dotted;
    }

    address
    {
        font-style: normal;
        line-height: inherit;

        margin-bottom: 1rem;
    }

    ol,
    ul,
    dl
    {
        margin-top: 0;
        margin-bottom: 1rem;
    }

    ol ol,
    ul ul,
    ol ul,
    ul ol
    {
        margin-bottom: 0;
    }

    dt
    {
        font-weight: 600;
    }

    dd
    {
        margin-bottom: .5rem;
        margin-left: 0;
    }

    blockquote
    {
        margin: 0 0 1rem;
    }

    dfn
    {
        font-style: italic;
    }

    b,
    strong
    {
        font-weight: bolder;
    }

    small
    {
        font-size: 80%;
    }

    sub,
    sup
    {
        font-size: 75%;
        line-height: 0;

        position: relative;

        vertical-align: baseline;
    }

    sub
    {
        bottom: -.25em;
    }

    sup
    {
        top: -.5em;
    }

    a
    {
        text-decoration: none;

        color: #546FF7;
        background-color: transparent;

        -webkit-text-decoration-skip: objects;
    }
    a:hover
    {
        text-decoration: none;

        color: #233dd2;
    }

    a:not([href]):not([tabindex])
    {
        text-decoration: none;

        color: inherit;
    }
    a:not([href]):not([tabindex]):hover,
    a:not([href]):not([tabindex]):focus
    {
        text-decoration: none;

        color: inherit;
    }
    a:not([href]):not([tabindex]):focus
    {
        outline: 0;
    }

    pre,
    code,
    kbd,
    samp
    {
        font-family: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
        font-size: 1em;
    }

    pre
    {
        overflow: auto;

        margin-top: 0;
        margin-bottom: 1rem;

        -ms-overflow-style: scrollbar;
    }

    figure
    {
        margin: 0 0 1rem;
    }

    img
    {
        vertical-align: middle;

        border-style: none;
    }

    svg
    {
        overflow: hidden;

        vertical-align: middle;
    }

    table
    {
        border-collapse: collapse;
    }

    caption
    {
        padding-top: 1rem;
        padding-bottom: 1rem;

        caption-side: bottom;

        text-align: left;

        color: #8898aa;
    }

    th
    {
        text-align: inherit;
    }

    label
    {
        display: inline-block;

        margin-bottom: .5rem;
    }

    button
    {
        border-radius: 0;
    }

    button:focus
    {
        outline: 1px dotted;
        outline: 5px auto -webkit-focus-ring-color;
    }

    input,
    button,
    select,
    optgroup,
    textarea
    {
        font-family: inherit;
        font-size: inherit;
        line-height: inherit;

        margin: 0;
    }

    button,
    input
    {
        overflow: visible;
    }

    button,
    select
    {
        text-transform: none;
    }

    button,
    html [type='button'],
    [type='reset'],
    [type='submit']
    {
        -webkit-appearance: button;
    }

    button::-moz-focus-inner,
    [type='button']::-moz-focus-inner,
    [type='reset']::-moz-focus-inner,
    [type='submit']::-moz-focus-inner
    {
        padding: 0;

        border-style: none;
    }

    input[type='radio'],
    input[type='checkbox']
    {
        box-sizing: border-box;
        padding: 0;
    }

    input[type='date'],
    input[type='time'],
    input[type='datetime-local'],
    input[type='month']
    {
        -webkit-appearance: listbox;
    }

    textarea
    {
        overflow: auto;

        resize: vertical;
    }

    fieldset
    {
        min-width: 0;
        margin: 0;
        padding: 0;

        border: 0;
    }

    legend
    {
        font-size: 1.5rem;
        line-height: inherit;

        display: block;

        width: 100%;
        max-width: 100%;
        margin-bottom: .5rem;
        padding: 0;

        white-space: normal;

        color: inherit;
    }

    progress
    {
        vertical-align: baseline;
    }

    [type='number']::-webkit-inner-spin-button,
    [type='number']::-webkit-outer-spin-button
    {
        height: auto;
    }

    [type='search']
    {
        outline-offset: -2px;

        -webkit-appearance: none;
    }

    [type='search']::-webkit-search-cancel-button,
    [type='search']::-webkit-search-decoration
    {
        -webkit-appearance: none;
    }

    ::-webkit-file-upload-button
    {
        font: inherit;

        -webkit-appearance: button;
    }

    output
    {
        display: inline-block;
    }

    summary
    {
        display: list-item;

        cursor: pointer;
    }

    template
    {
        display: none;
    }

    [hidden]
    {
        display: none !important;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    .h1,
    .h2,
    .h3,
    .h4,
    .h5,
    .h6
    {
        font-family: inherit;
        font-weight: 400;
        line-height: 1.5;

        margin-bottom: .5rem;

        color: #32325d;
    }

    h1,
    .h1
    {
        font-size: 2.5rem;
    }

    h2,
    .h2
    {
        font-size: 2rem;
    }

    h3,
    .h3
    {
        font-size: 1.75rem;
    }

    h4,
    .h4
    {
        font-size: 1.5rem;
    }

    h5,
    .h5
    {
        font-size: 1.25rem;
    }

    h6,
    .h6
    {
        font-size: 1rem;
    }
    .lead
    {
        font-size: 1.25rem;
        font-weight: 300;
    }

    .display-1
    {
        font-size: 3.3rem;
        font-weight: 600;
        line-height: 1.5;
    }

    .display-2
    {
        font-size: 2.75rem;
        font-weight: 600;
        line-height: 1.5;
    }

    .display-3
    {
        font-size: 2.1875rem;
        font-weight: 600;
        line-height: 1.5;
    }

    .display-4
    {
        font-size: 1.6275rem;
        font-weight: 600;
        line-height: 1.5;
    }

    hr
    {
        margin-top: 2rem;
        margin-bottom: 2rem;

        border: 0;
        border-top: .0625rem solid rgba(0, 0, 0, .1);
    }

    small,
    .small
    {
        font-size: 80%;
        font-weight: 400;
    }

    mark,
    .mark
    {
        padding: .2em;

        background-color: #fcf8e3;
    }

    .list-unstyled
    {
        padding-left: 0;

        list-style: none;
    }

    .list-inline
    {
        padding-left: 0;

        list-style: none;
    }

    .list-inline-item
    {
        display: inline-block;
    }
    .list-inline-item:not(:last-child)
    {
        margin-right: .5rem;
    }

    .initialism
    {
        font-size: 90%;

        text-transform: uppercase;
    }

    .blockquote
    {
        font-size: 1.25rem;

        margin-bottom: 1rem;
    }

    .blockquote-footer
    {
        font-size: 80%;

        display: block;

        color: #8898aa;
    }
    .blockquote-footer::before
    {
        content: '\2014 \00A0';
    }

    .img-fluid
    {
        max-width: 100%;
        height: auto;
    }

    .img-thumbnail
    {
        max-width: 100%;
        height: auto;
        padding: .25rem;

        border: .0625rem solid #dee2e6;
        border-radius: .25rem;
        background-color: #fff;
        box-shadow: 0 1px 2px rgba(0, 0, 0, .075);
    }

    .figure
    {
        display: inline-block;
    }

    .figure-img
    {
        line-height: 1;

        margin-bottom: .5rem;
    }

    .figure-caption
    {
        font-size: 90%;

        color: #8898aa;
    }

    code
    {
        font-size: 87.5%;

        word-break: break-word;

        color: #f3a4b5;
    }
    a > code
    {
        color: inherit;
    }

    kbd
    {
        font-size: 87.5%;

        padding: .2rem .4rem;

        color: #fff;
        border-radius: .2rem;
        background-color: #212529;
        box-shadow: inset 0 -.1rem 0 rgba(0, 0, 0, .25);
    }
    kbd kbd
    {
        font-size: 100%;
        font-weight: 600;

        padding: 0;

        box-shadow: none;
    }

    pre
    {
        font-size: 87.5%;

        display: block;

        color: #212529;
    }
    pre code
    {
        font-size: inherit;

        word-break: normal;

        color: inherit;
    }

    .pre-scrollable
    {
        overflow-y: scroll;

        max-height: 340px;
    }

    .container
    {
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        padding-right: 15px;
        padding-left: 15px;
    }
