@import './src/styles/style';

.root {
  height: 100%;
  background: url('../../assets/images/icon/landingpage/banner.svg') no-repeat;
  background-size: cover;
  .banner {

  }
  .rowEqHeight {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    //align-items: center;
  }
  .mainContent {
    padding: 50px 0 54px;
    .headerLandingpage {
      align-items: center;
      margin-bottom: 30px;
      display: flex;
      & > img {
        margin-right: 20px;
        height: 60px;
        position: relative;
        top: -8px;
      }
      & > div {
        img {
          width: 170px;
          margin-bottom: 5px;
        }
        p {
          font-family: azo-sans-web, sans-serif;
          font-style: normal;
          opacity: 0.9;
          font-size: 14px;
          color: #FFFFFF;
          letter-spacing: 0.76px;
        }
      }
    }
    .appScreen {
      width: 374px;
      height: 663px;
      margin: 0 auto;
      background: url('../../assets/images/icon/landingpage/app_screen.svg');
    }
    .appScreenVideo {
      width: 293px;
      height: 101%;
      position: relative;
      left: 19.31%;
      top: 7px;
    }
    h1 {
      font-family: azo-sans-web, sans-serif;
      font-style: normal;
      font-weight: $semi-bold;
      font-size: 30px;
      letter-spacing: 0;
      margin-bottom: 30px;
      margin-top: 0;
      line-height: 44px;
      color: #FFFFFF;
      .blue {
        color: #5EEE44;
      }
    }
    .subTitle {
      font-family: azo-sans-web, sans-serif;
      font-style: normal;
      font-size: 17px;
      color: #FFFFFF;
      letter-spacing: 0;
      line-height: 25px;
      margin-bottom: 15px;
      width: 98%;
    }
    .readTheWhitePaper {
      font-family: azo-sans-web, sans-serif;
      font-style: normal;
      font-size: 14px;
      color: #5EEE44;
      letter-spacing: 0;
      span {
        text-decoration: underline;
      }
      img {
        margin-left: 8px;
      }
    }
    .btnTelegram {
      font-family: azo-sans-web, sans-serif;
      font-style: normal;
      font-weight: $medium;
      border-radius: 4px;
      color: #FFFFFF;
      letter-spacing: 0;
      font-size: 20px;
      background-image: linear-gradient(-269deg, #7740FF 0%, #1E4EFF 100%);
      padding: 18px 60px;
      width: 100%;
      display: block;
      //margin: 0 auto;
      img {
        margin-right: 9px;
        position: relative;
        top: -3px;
      }
      &:hover {
        text-decoration: none;
      }
    }
    .telegramDescription {
      font-family: azo-sans-web, sans-serif;
      font-style: normal;
      margin-bottom: 12px;
      margin-top: 62px;
      font-size: 14px;
      color: #FFFFFF;
      letter-spacing: 0;
      line-height: 27px;
      .orange {
        color: #F46A48;
        font-weight: $medium;
      }
      strong {
        font-weight: $medium;
      }
    }
    .registerEmail {
      display: flex;
      flex-wrap: wrap;
      margin: 0 auto 98px;
      .email {
        width: 100%;
        padding: 15px 26px;
        text-align: left;
        border: 1px solid #FAFAFA;
        box-shadow: 1px 1px 10px #c2c2c238;
        font-weight: $normal;
        font-size: 18px;
        font-family: azo-sans-web, sans-serif;
        font-style: normal;
        letter-spacing: 0;
        background: #FFFFFF;
        border-radius: 4px;
        &::placeHolder {
          color: #959595;
          letter-spacing: 0;
        }
      }
      .btnSubmit {
        width: 46%;
        font-family: azo-sans-web, sans-serif;
        font-style: normal;
        font-weight: $medium;
        font-size: 16px;
        color: #FFFFFF;
        letter-spacing: 0;
        position: relative;
        right: -53%;
        top: -50px;
        background-image: linear-gradient(-269deg, #7740FF 0%, #1E4EFF 100%);
        border-radius: 4px;
        padding: 8px 24px;
      }
    }
  }
  .blockChainContent {
    max-width: 1026px;
    margin-top: 30px;
    margin-bottom: 50px;
    h3 {
      font-size: 32px;
      letter-spacing: 0;
      margin-bottom: 33px;
      font-family: azo-sans-web, sans-serif;
      font-style: normal;
      font-weight: $semi-bold;
      color: #5EEE44;
    }
    p {
      font-size: 18px;
      letter-spacing: 0;
      line-height: 34px;
      width: 95%;
      font-family: azo-sans-web, sans-serif;
      font-style: normal;
      color: #FFFFFF;
      .green {
        color: #5EEE44;
      }
    }
  }
  .countdownBlock {
    margin-top: 126px;
    margin-bottom: 280px;
    h3 {
      font-size: 40px;
      color: #FFFFFF;
      letter-spacing: 0;
      line-height: 54px;
      font-family: azo-sans-web, sans-serif;
      font-style: normal;
      font-weight: $semi-bold;
      margin-bottom: 33px;
    }
    .countDownSubTitle {
      font-family: azo-sans-web, sans-serif;
      font-style: normal;
      font-size: 20px;
      color: #FFFFFF;
      letter-spacing: 0;
      line-height: 32px;
      margin-bottom: 70px;
    }
    .countDown {
      margin-bottom: 80px;
    }
    .countDownTitle {
      font-family: azo-sans-web, sans-serif;
      font-style: normal;
      font-size: 22px;
      color: #FFFFFF;
      letter-spacing: 0;
      margin-bottom: 16px;
    }
    .btnTelegram {
      font-family: azo-sans-web, sans-serif;
      font-style: normal;
      font-weight: $medium;
      border-radius: 4px;
      font-size: 24px;
      color: #FFFFFF;
      letter-spacing: 0;
      background-image: linear-gradient(-269deg, #7740FF 0%, #1E4EFF 100%);
      padding: 17px 40px;
      width: 54%;
      display: block;
      margin: 0 auto;
      img {
        margin-right: 20px;
        position: relative;
        top: -3px;
      }
      &:hover {
        text-decoration: none;
      }
    }
    .registerEmail {
      display: flex;
      flex-wrap: wrap;
      margin: 0 auto 98px;
      width: 54%;
      margin-top: 28px;
      .email {
        width: 100%;
        padding: 15px 26px;
        text-align: left;
        border: 1px solid #FAFAFA;
        box-shadow: 1px 1px 10px #c2c2c238;
        font-weight: $normal;
        font-size: 18px;
        font-family: azo-sans-web, sans-serif;
        font-style: normal;
        letter-spacing: 0;
        background: #FFFFFF;
        border-radius: 4px;
        &::placeHolder {
          color: #959595;
          letter-spacing: 0;
        }
      }
      .btnSubmit {
        width: 46%;
        font-family: azo-sans-web, sans-serif;
        font-style: normal;
        font-weight: $medium;
        font-size: 16px;
        color: #FFFFFF;
        letter-spacing: 0;
        position: relative;
        right: -53%;
        top: -50px;
        background-image: linear-gradient(-269deg, #7740FF 0%, #1E4EFF 100%);
        border-radius: 4px;
        padding: 8px 24px;
      }
    }
  }
  .or {
    opacity: 0.7;
    font-family: azo-sans-web, sans-serif;
    font-style: normal;
    font-size: 18px;
    color: #FFFFFF;
    letter-spacing: 0;
    padding: 15px;
  }
}

@media (min-width: 1000px) and (max-width: 1680px) {
  .root {
    .mainContent {
      .appScreen {
        /*max-width: 400px;*/
      }
    }
  }
}

@media (min-width: 767px) and (max-width: 1200px) {
  .root {
    .mainContent {
      .btnTelegram {
        padding: 15px 30px;
      }
    }
  }
}

@include respond(sm) {
  .root {
    .mainContent {
      padding: 20px;
      .headerLandingpage {
        margin-bottom: 30px;
        & > img {
          width: 38px;
          margin-right: 9px;
          top: -6px;
        }
        & > div {
          img {
            width: 90px;
          }
          p {
            font-size: 12px;
          }
        }
      }
      h1 {
        font-size: 30px;
        margin-bottom: 15px;
        line-height: 42px;
      }
      .subTitle {
        font-size: 16px;
        line-height: 27px;
        margin-bottom: 20px;
        width: 100%;
      }
      .btnTelegram {
        font-size: 18px;
        padding: 18px 30px;
        img {
          height: 30px;
          width: 30px;
          margin-right: 9px;
          position: relative;
          top: -3px;
        }
      }
      .telegramDescription {
        font-size: 16px;
        letter-spacing: 0;
        line-height: 27px;
        margin-bottom: 40px;
      }
    }
    .blockChainContent {
      margin-top: 20px;
      margin-bottom: 20px;
      h3 {
        font-size: 30px;
        line-height: 42px;
        margin-bottom: 10px;
        span {
          background: initial;
          color: #F46A48 !important;
          -webkit-text-fill-color: unset;
          -webkit-background-clip: unset;
        }
      }
      p {
        font-size: 18px;
        line-height: 27px;
        margin-bottom: 40px;
        width: 100%;
      }
    }
    .countdownBlock {
      margin-top: 60px;
      margin-bottom: 140px;
      h3 {
        font-size: 30px;
        line-height: 42px;
        margin-bottom: 10px;
      }
      .countDownSubTitle {
        font-size: 18px;
        color: #FFFFFF;
        letter-spacing: 0;
        line-height: 27px;
        margin-bottom: 50px;
      }
      .countDown {
        margin-bottom: 60px;
      }
      .countDownTitle {
        font-size: 18px;
        color: #FFFFFF;
        letter-spacing: 0;
        margin-bottom: 16px;
      }
      .btnTelegram {
        font-family: azo-sans-web, sans-serif;
        font-style: normal;
        font-weight: $medium;
        border-radius: 4px;
        font-size: 18px;
        color: #FFFFFF;
        letter-spacing: 0;
        background-image: linear-gradient(-269deg, #7740FF 0%, #1E4EFF 100%);
        padding: 17px 10px;
        img {
          margin-right: 9px;
        }
      }
    }
  }
}

@media (max-width: 500px) {
  .root {
    .countdownBlock {
      .btnTelegram {
        font-size: 16px;
        padding: 17px 8px;
      }
    }
  }
}

@media (max-width: 375px) {
  .root {
    .mainContent {
      .headerLandingpage {
        margin-bottom: 30px;
        & > img {
          width: 35px;
          margin-right: 9px;
          top: -4px;
        }
        & > div {
          img {
            width: 80px;
          }
          p {
            font-size: 10px;
          }
        }
      }
      .btnTelegram {
        font-size: 15px;
        padding: 18px 30px;
        img {
          margin-right: 5px;
        }
      }
    }
    .countdownBlock {
      .btnTelegram {
        font-size: 12px;
        padding: 17px 8px;
      }
    }
  }
}
