@import './src/styles/style';

body {
  background: black;
}

.root {
  .fadeInRight{
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight;
  }

  .fadeInLeft{
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
  }

  .fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
  }

  .fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
  }

  font-family: motiva-sans, sans-serif !important;
  padding-bottom: rem-calc(50px);
  .mt0 {
    margin-top: 0;
  }
  .mb0 {
    margin-bottom: 0;
  }
  .ml0 {
    margin-left: 0
  }
  .mr0 {
    margin-right: 0
  }

  .mt10 {
    margin-top: rem-calc(10px);
  }
  .mb10 {
    margin-bottom: rem-calc(10px);
  }
  .ml10 {
    margin-left: rem-calc(10px);
  }
  .mr10 {
    margin-right: rem-calc(10px);
  }

  .mt20 {
    margin-top: rem-calc(20px);
  }
  .mb20 {
    margin-bottom: rem-calc(20px);
  }
  .ml20 {
    margin-left: rem-calc(20px);
  }
  .mr20 {
    margin-right: rem-calc(20px);
  }

  .mt30 {
    margin-top: rem-calc(30px);
  }
  .mb30 {
    margin-bottom: rem-calc(30px);
  }
  .ml30 {
    margin-left: rem-calc(30px)
  }
  .mr30 {
    margin-right: rem-calc(30px)
  }

  .mb160 {
    margin-bottom: rem-calc(160px) !important;
  }

  .mb120 {
    margin-bottom: rem-calc(120px) !important;
  }

  .mb80 {
    margin-bottom: rem-calc(80px);
  }

  .mb94 {
    margin-bottom: rem-calc(94px);
  }

  .mb50 {
    margin-bottom: rem-calc(50px);
  }

  .mb60 {
    margin-bottom: rem-calc(60px);
  }

  .mb200 {
    margin-bottom: rem-calc(200px);
  }

  .mw810 {
    max-width: 37rem;
    margin: 0 auto;
  }

  .btn-lg {
    text-align: center;
    font-size: rem-calc(16px);
    font-weight: bold;
    padding: rem-calc(10px 20px);
    display: inline-block;
  }
  .btn-lg:hover {
    text-decoration: none;
    color: #000;
  }
  .btn-y {
    color: #333;
    background: #F8E71C;
    width: 100%;
  }

  .text-y {
    color: #F8E71C;
  }
  .bg-y {
    background: #F8E71C;
    color: #333;
  }

  .text-up {
    text-transform: uppercase;
  }
  .first-page {
    //width: 100%;
    //min-height: 90vh;
    //background: black;
    //position: relative;
    padding-top: rem-calc(50px);
    margin-bottom: rem-calc(100px);
  }
  .first-page iframe {
    min-height: 100vh;
    border: none;
    opacity: 0.2;
    position: relative;
    z-index: 1;
  }
  .logo {
  }
  .content-first {
    //z-index: 2;
    //position: absolute;
    //top: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .icon-text {
    margin-right: rem-calc(23px);
  }
  h2 {
    font-size: rem-calc(30px);
    letter-spacing: 0;
    line-height: rem-calc(38px);
    color: #9B9B9B;
    font-weight: 900;
    font-family: motiva-sans, sans-serif !important;
  }
  p {
    color: #9B9B9B;
    font-size: rem-calc(14px);
    line-height: rem-calc(20px);
    font-family: motiva-sans, sans-serif !important;
  }
  a.text-link {
    color: #ababab;
    border-bottom: 1px #F8E71C solid;
    display: inline-block;
  }
  a.text-link:hover {
    color: #F8E71C;
    text-decoration: none;
  }
  .email-frm input {
    display: inline-block;
    height: rem-calc(46px);
    font-size: rem-calc(16px);
  }
  .email-frm {
    button {
      height: rem-calc(46px);
      border-radius: 0 4px 4px 0;
    }
  }
  .form-control:focus {
    box-shadow: none;
    border-color: #F8E71C;
  }
  .cnt-w {
    max-width: 400px;
    margin: 0 auto;
  }
  .line-ninja {
    position: relative;
    width: 100%;
    height: 80px;
    text-align: center;
  }
  .ico-ninja {
    background: url('../../assets/images/icon/landingpage/ninja-ico.svg') no-repeat center bottom;
    width: 100%;
    height: 70px;
    margin: 0 auto;
    position: relative;
  }
  .line- {
    background: url('../../assets/images/icon/landingpage/line-.svg') no-repeat center top;
    width: 100%;
    height: 80px;
    margin: 0 auto;
    position: relative;
    margin-top: -10px;
  }

  .h3-y {
    font-size: rem-calc(30px);
    color: #9B9B9B;
    letter-spacing: 0;
    margin-bottom: rem-calc(40px);
    text-transform: uppercase;
    font-weight: $heavy;
  }

  .h3-gray {
    font-size: rem-calc(30px);
    color: #9B9B9B;
    letter-spacing: 0;
    font-weight: $heavy;
  }

  .content-header {
    font-size: rem-calc(20px);
    color: #575757;
    letter-spacing: 0;
    font-weight: $heavy;
    line-height: 1.4;
  }

  .content-main {
    font-size: rem-calc(14px);
    color: #9B9B9B;
    letter-spacing: 0;
    line-height: rem-calc(20px);
    font-weight: $normal;
  }

  .fillInForm {
    button {
      margin-top: rem-calc(10px);
    }
    .form-group {
      align-items: center;
      label {
        font-size: rem-calc(14px);
        color: #9B9B9B;
        letter-spacing: 0;
        margin-bottom: 0;
        text-align: right;
        //width: 30%;
      }
      label + input {
        border: 1px solid #979797;
        border-radius: 3px;
        color: white;
        //width: 50%;
        background: inherit;
        height: rem-calc(40px);
        padding-left: rem-calc(5px);
        &:focus {
          outline: none;
        }
      }
      .required {
        &::after {
          content: "*";
          color: #FF1B43;
        }
      }
    }
  }

  .flower {
    position: absolute;
    right: 40px;
    top: 235px;
    opacity: 0.8;
  }
  .neymar {
    position: absolute;
    right: 220px;
    top: 180px;
    z-index: 3;
  }
  .screen-app {
    position: absolute;
    right: 80px;
    top: 0;
    z-index: 2;
  }
  .label-100 {
    position: absolute;
    right: 50px;
    top: -20px;
    z-index: 10;
  }
  .img-screen {
    position: relative;
    padding-right: 100px;
    margin-top: 50px;
  }
  .line-down {
    text-align: center;
  }
  .line-down span {
    display: inline-block;
    margin-bottom: 80px;
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 1px solid #4e4e4e;
    border-bottom: 1px solid #4e4e4e;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    box-sizing: border-box;
  }
  .second-page {
    //background: url("../../assets/images/icon/landingpage/shuriken_backgroud.svg") no-repeat;
    .shuriken-background {
      position: absolute;
      opacity: 0.5;
    }
  }

  .mw600 {
    max-width: rem-calc(450px) !important;
  }

  .or {
    opacity: 0.7;
    font-size: rem-calc(18px);
    color: #FFFFFF;
    letter-spacing: 0;
  }

  .telegram-icon {
    margin-right: rem-calc(20px);
  }
}

@media (max-width: 767px) {
  .root {
    .first-page {
      margin-bottom: rem-calc(20px);
    }
    .content-header + div, p.content-header {
       margin-top: rem-calc(20px);
    }

    .fillInForm {
      .form-group {
        margin-right: 0;
        margin-left: 0;
        label {
          text-align: left;
          padding-left: 0;
        }
      }
      div[class="row"]:last-child {
        margin-left: 0;
        margin-right: 0;
      }
    }
    .line-down span {
      margin-bottom: -95px;
    }
    .second-page {
      .shuriken-background {
        overflow: hidden;
        img {
          width: 100px;
        }
      }
    }

    .h3-y {
      text-align: left !important;
    }

    .h3-gray {
      text-align: left !important;
    }
  }
}

@media (max-width: 375px) {
  html {
    font-size: 14px;
  }
}
