@import './src/styles/style';

.landing-page {
  .landing-header {
    font-family: azo-sans-web, sans-serif;
    font-weight: 700;
    font-size: 26px;
    color: #484848;
    letter-spacing: 0.5px;
  }
  .landing-subHeader {
    opacity: 0.8;
    font-family: azo-sans-web, sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #484848;
    letter-spacing: 0;
    margin-bottom: 15px;
  }
  .landing-title {
    font-family: azo-sans-web, sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #484848;
    letter-spacing: 0;
  }
  .landing-sub-title {
    opacity: 0.7;
    font-family: azo-sans-web, sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #484848;
    letter-spacing: 0;
    line-height: 24px;
  }
  .product {
    min-height: 394px;
  }
}
