@import './src/styles/style';

.root {
  height: 100%;
  background: url('../../assets/images/icon/landingpage/trade-banner.png') no-repeat;
  background-size: cover;
  font-family: azo-sans-web, sans-serif;
  font-style: normal;
  .firstContainer {
    padding-top: rem-calc(49px);
    .bannerIcon {
      width: rem-calc(82px);
      margin: rem-calc(0 0 33px);
    }
    h1 {
      font-size: rem-calc(48px);
      color: #FFFFFF;
      letter-spacing: 0;
      line-height: rem-calc(44px);
      margin: rem-calc(0 0 50px);
      font-weight: $medium;
    }
    dl {
      margin: rem-calc(0 0 60px);
      dt, dd {
        font-size: rem-calc(20px);
        color: #FFFFFF;
        letter-spacing: -0.24px;
        line-height: rem-calc(20px);
        margin-bottom: rem-calc(16px);
        font-weight: $light;
      }
      dt {
        font-weight: $medium;
      }

      dd + dt {
        margin-top: rem-calc(35px);
      }
    }
    .bottomBox {
      margin-bottom: rem-calc(20px);
    }
    .btnStartTrading {
      background-image: linear-gradient(-269deg, #7740FF 0%, #1E4EFF 100%);
      border-radius: rem-calc(4px);
      font-size: rem-calc(20px);
      font-weight: $medium;
      color: #FFFFFF;
      letter-spacing: 0;
      padding: rem-calc(17px 26px);
      align-self: center;
      position: relative;
      top: rem-calc(15px);
    }
    .registerEmail {
      display: flex;
      flex-wrap: wrap;
      margin: 0 auto;
      .email {
        width: 100%;
        padding: rem-calc(15px 26px);
        text-align: left;
        border: 1px solid #FAFAFA;
        box-shadow: 1px 1px 10px #c2c2c238;
        font-weight: $light;
        font-size: rem-calc(18px);
        font-family: azo-sans-web, sans-serif;
        font-style: normal;
        letter-spacing: 0;
        background: #FFFFFF;
        border-radius: rem-calc(4px);
        &::placeHolder {
          color: #959595;
          letter-spacing: 0;
        }
      }
      .btnSubmit {
        width: 46%;
        font-family: azo-sans-web, sans-serif;
        font-style: normal;
        font-weight: $medium;
        font-size: rem-calc(16px);
        color: #FFFFFF;
        letter-spacing: 0;
        position: relative;
        right: -53%;
        top: rem-calc(-51px);
        background-image: linear-gradient(-269deg, #7740FF 0%, #1E4EFF 100%);
        border-radius: rem-calc(4px);
        padding: rem-calc(10px 24px);
        border: none;
      }
    }
    .appScreen {
      width: 324px;
      height: 670px;
      margin: 0 auto;
      background: url('../../assets/images/icon/landingpage/trade-app-screen.svg');
    }
  }

  .secondContainer {
    margin-top: rem-calc(89px);
    margin-bottom: rem-calc(133px);
    & > div {
      align-items: center;
    }
    .subTitle {
      font-size: rem-calc(24px);
      font-weight: $medium;
      color: #FFFFFF;
      letter-spacing: 0;
      line-height: rem-calc(40px);
      margin-bottom: rem-calc(34px);
      padding-left: rem-calc(20px);
    }
    .description {
      font-size: rem-calc(20px);
      font-weight: $light;
      color: #FFFFFF;
      letter-spacing: 0;
      line-height: rem-calc(40px);
      padding-left: rem-calc(20px);
    }
  }
  .thirdContainer {
    margin-bottom: rem-calc(154px);
  }
  .fourContainer {
    margin-bottom: rem-calc(147px);
    & > .row > div {
      padding: rem-calc(0 10px);
    }
    img {
      margin-bottom: rem-calc(51px);
    }
    .subTitle {
      font-size: rem-calc(24px);
      font-weight: $medium;
      color: #FFFFFF;
      letter-spacing: -0.24px;
      line-height: rem-calc(24px);
      margin-bottom: rem-calc(13px);
    }
    .description {
      font-size: rem-calc(20px);
      font-weight: $light;
      color: #FFFFFF;
      letter-spacing: 0;
      line-height: rem-calc(40px);
    }
  }

  .fiveContainer {
    margin-bottom: rem-calc(75px);
    .subTitle {
      font-size: rem-calc(40px);
      color: #FFFFFF;
      letter-spacing: 0;
      text-align: center;
      line-height: rem-calc(54px);
      margin-bottom: rem-calc(34px);
      font-weight: $medium;
    }
  }

  .collapse-custom {
    border-bottom: 0.5px outset #f7f7f7;
    font-weight: $normal;
    .head {
      padding: rem-calc(21px);
      display: flex;
      flex-wrap: wrap;
      &:hover {
        cursor: pointer;
      }
      .label {
        width: 94%;
        display: flex;
        margin: 0;
        font-size: rem-calc(20px);
        color: #FFFFFF;
        letter-spacing: 0;
        font-weight: $light;
        line-height: rem-calc(35px);
        .index {
          flex-basis: 4%;
        }
      }
      .extend {
        width: 6%;
        text-align: right;
        img {
          transform: rotate(90deg);
        }
        .rotate {
          transform: rotate(0);
        }
      }
    }
    .noList {
      opacity: 0.6;
    }
    .content {
      margin-bottom: rem-calc(40px);
      margin-top: rem-calc(-11px);
      padding-right: rem-calc(40px);
      padding-left: rem-calc(21px);
      font-size: rem-calc(20px);
      color: #FFFFFF;
      letter-spacing: 0;
      line-height: rem-calc(35px);
      font-weight: $light;
    }
  }

  .collapse-custom:first-child {
    border-top: 0.5px inset #f7f7f7;
  }
}

@media (min-width: 1000px) and (max-width: 1680px) {
  .root {
    .mainContent {
      .appScreen {
        /*max-width: 400px;*/
      }
    }
  }
}

@media (max-width: 1200px) {
  .root {
    .firstContainer {
      div[class='row bottomBox'] {
        & > div {
          flex: 0 0 100%;
          max-width: 100%;
        }
      }
      .btnStartTrading {
        padding: rem-calc(10px 30px);
        display: block;
        text-align: center;
        margin-bottom: rem-calc(25px);
        width: 100%;
      }
    }
  }
}

@media (max-width: 767px) {
  html {
    font-size: 12px;
  }
  .root {
    .firstContainer {
      .btnStartTrading {
        padding: rem-calc(10px 30px);
        display: block;
        text-align: center;
        margin-bottom: rem-calc(25px);
      }
    }
    .secondContainer {
      .subTitle {
        margin-top: rem-calc(40px);
        margin-bottom: rem-calc(34px);
        padding-left: rem-calc(20px);
      }
    }

    .fourContainer {
      & > .row {
        div + div {
          margin-top: rem-calc(40px);
        }
      }
    }
  }
}

@media (max-width: 500px) {
  html {
    font-size: 11px;
  }
}

@media (max-width: 375px) {
  html {
    font-size: 10px;
  }

  .root {
    .firstContainer {
      .registerEmail {
        .btnSubmit {
          width: 100%;
          position: inherit;
          right: unset;
          top: unset;
          margin-top: rem-calc(10px);
        }
      }
    }
  }
}
