@import './src/styles/style';

$button-color: #484848;
.landing-page {
  background: #fff;
  padding: 36px 0;
  .landing-nav-link {
    font-size: 16px;
    color: $button-color;
    margin-left: 30px;
    font-weight: 500;
    &:hover {
      text-decoration: none;
      &.active {
        cursor: default;
      }
      &:not(.active) {
        color: lighten($button-color, 30%);
        border-bottom: 3px solid #F5D516;
      }
    }
    &.active {
      opacity: 0.5;
      border-bottom: 3px solid #F5D516;
    }
  }
  .btn-primary-landing {
    font-family: AzoSans-Medium;
    font-size: 18px;
    color: #000000;
    letter-spacing: 0;
    border: 2px solid #F5D516;
    border-bottom: 5px solid #F5D516;
    background: #FFF988;
    border-radius: 4px;
    height: 48px;
    padding: 0 35px;
  }

  .landing-hr {
    background: #383838;
    margin-top: 100px;
    margin-bottom: 15px;
    opacity: 0.1;
  }

  .landing-footer {
    font-family: AzoSans-Regular;
    font-size: 14px;
    color: #484848;
    letter-spacing: 0;
    line-height: 24px;
  }
  .landing-link {
    font-size: 14px;
    font-weight: bold;
    text-decoration: underline;
    color: #484848;
  }
}
