@import "./src/styles/style";

.wrapperBettingFeedMe {
  padding: rem-calc(0) !important;
  margin-bottom: rem-calc(16px);
  background: #FFFFFF;
  box-shadow: 0 2px 4px 0 rgba(201, 201, 201, 0.50);
  border-radius: 6px;
  .eventName {
    font-size: rem-calc(16px);
    color: #FFFFFF;
    letter-spacing: rem-calc(0.29px);
    font-weight: $normal;
    padding: rem-calc(12px 15px);
    border-radius: 6px 6px 0 0;
  }
  .predictName {
    font-size: rem-calc(16px);
    font-weight: $bold;
    color: #000;
    letter-spacing: rem-calc(0.29px);
    margin: rem-calc(18px 15px 19px);
  }
  .support {
    color: $caribbean-green !important;
  }
  .oppose {
    color: $radical-red !important;
  }
  .bettingInfo {
    display: flex;
    justify-content: space-between;
    padding: rem-calc(0 15px 24px);
    .description {
      opacity: 0.3;
      font-size: rem-calc(14px);
      color: #000000;
      letter-spacing: rem-calc(0.25px);
      font-weight: $normal;
      margin-bottom: rem-calc(12px);
    }
    .value {
      font-size: rem-calc(16px);
      color: #000000;
      letter-spacing: rem-calc(0.29px);
      font-weight: $normal;
    }
    @media (max-width: 320px) {
      .description {
        font-size: rem-calc(10px);
      }
      .value {
        font-size: rem-calc(12px);
      }
    }
  }
  .bottomDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: rem-calc(0 15px 15px);
    .statusBetting {
      font-size: rem-calc(14px);
      letter-spacing: rem-calc(0.25px);
      font-weight: $normal;
      color: #8a8a8f;
      font-style: italic;
      padding-right: rem-calc(10px);
    }
    button {
      width: rem-calc(170px);
      padding: rem-calc(10px);
      font-size: rem-calc(14px);
      letter-spacing: rem-calc(0.25px);
      border-radius: rem-calc(6px);
      font-weight: $bold;
      border: none;
      color: #fff;
      background: #000000;
    }
    .cancel {
      background: #000000;
    }
    .withdraw {
      background: #3DD757;
    }
    .refund {

    }
  }
}

.feed-wrapper + .feed-wrapper {
  margin-top: rem-calc(30px) !important;
}
