@import './src/styles/var';
.wrapper {
  //font-family: $font-family-base;
  //font-size: rem-calc(16px);
  padding: rem-calc(10px 10px 10px 10px) !important;
  .description {
    font-size: rem-calc(32px) !important;
    color: $white;
    letter-spacing: 0;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
  }
  .bottomWrapper{
      flex-direction: 'row';
      justify-content: 'space-between';
      display: flex;
  }

  .email {
    margin: 0;
    color: $white;
    letter-spacing: 0;
    text-align: left;
  }
  
}
