@import "./src/styles/style";

.wrapperBettingFeedMe {
  padding: rem-calc(0) !important;
  margin-bottom: rem-calc(16px);
  background: #FFFFFF;
  box-shadow: 0 0 2px 0 rgba(0,0,0,0.12), 0 2px 2px 0 rgba(0,0,0,0.12);
  border-radius: 6px;
  .eventTitle {
    font-size: rem-calc(18px);
    letter-spacing: rem-calc(0.29px);
    font-weight: 500;
    padding: 28px 0.9375rem 18px 0.9375rem;
    border-radius: 6px 6px 0 0;
  }


  .predictRow {
    display: flex;
    justify-content: space-between;
    margin: rem-calc(0 15px 33px 19px);
    font-size: 14px;
    position: relative;
    .predictTitle{
      margin-right: 5px;
      //width: 80%;
      display: flex;
      align-items: center;
      padding-right: rem-calc(60px);
    }
    .predictName {
      font-weight: 400;
      color: $black;
      letter-spacing: rem-calc(0.29px);
    }
    .oddName {
      font-weight: 400;
      letter-spacing: rem-calc(0.29px);
      position: absolute;
      top: 5px;
      right: 0;
    }

    .sideLabel {
      color:#fff;
      font-weight: 400;
      padding:0 6px;
      margin-right: 5px;
      border-radius: 3px;
      margin-bottom: 4px;
      display: flex;
      align-items: center;
      height: 27px;
    }

    .support {
      background-color: $caribbean-green !important;

    }
    .oppose {
      background-color: $radical-red !important;

    }
  }

  .bettingInfoValues{
    padding: rem-calc(0 15px 10px);
    float: right;
    text-align: right;
    font-size: 14px;
    font-weight: 400;
  }
  .bettingInfo {
    padding: rem-calc(0 15px 10px);
    float:left;
    .description {
      font-size: rem-calc(14px);
      color: #8a8a8f;
      letter-spacing: rem-calc(0.25px);
      font-weight: $normal;
      margin-bottom: rem-calc(2px);
    }
    .value {
      font-size: rem-calc(14px);
      color: #000000;
      letter-spacing: rem-calc(0.29px);
      font-weight: $normal;
    }
    @media (max-width: 320px) {
      .description {
        font-size: rem-calc(10px);
      }
      .value {
        font-size: rem-calc(12px);
      }
    }
  }
  .bottomDiv {
    background: #FAFAFA;
    margin-top: 5px;
    padding: rem-calc(15px 15px 15px);
    border-top: 1px solid #f1f1f1;

    .bottomStatus {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .statusBetting {
      font-size: rem-calc(14px);
      letter-spacing: rem-calc(0.25px);
      font-weight: $normal;
      color: #333;
      padding-right: rem-calc(10px);
      flex: 1;
    }
    .progressBar {
      height: rem-calc(7px);
    }
    .progressText {
      font-size: rem-calc(14px);
      font-weight: $normal;
      color: #333;
      letter-spacing: rem-calc(0.25px);
      margin-top: rem-calc(5px);
      margin-bottom: rem-calc(10px);
    }
    button {
      width: rem-calc(170px);
      padding: rem-calc(10px);
      font-size: rem-calc(14px);
      letter-spacing: rem-calc(0.25px);
      border-radius: rem-calc(6px);
      //font-weight: $bold;
      //border: none;
      //color: #fff;
      background: #000000;
      font-weight: normal;
      text-overflow: ellipsis;
      overflow: hidden;
      padding: 0.625rem 1rem 0.625rem 0.625rem;
      color: #333;
      border: 1px solid #7a7a7a;
      opacity: 1;
      //text-transform: capitalize;
    }
    .cancel {
      background: transparent !important;
      width: rem-calc(145px);

    }
    .withdraw {
      background: #2456FB;
      border: none !important;
      color: #fff !important;
    }
    .refund {
      background: transparent !important;
      width: rem-calc(150px);

    }
    .dispute {
      background: transparent !important;
      border: none !important;
      color: #333 !important;
      width: rem-calc(100px);

    }
  }
}

.me {
  //.feed-wrapper:first-of-type {
  //  margin-top: 3rem !important;
  //}
  .feed-wrapper{
    margin-top: 15px;
    margin-bottom: 15px;
  }
}
.event-done-true{
  color :rgb(166,166,166) !important;
}
.me-main-container{
  background-color: #f7f7f7;
  padding-bottom: 40px;
}
.odds-text-feed{
  color:#8a8a8f;
}
.odds-value-feed-oppose{
  color:$radical-red;
}
.odds-value-feed-support{
  color:$caribbean-green;
}
