@import './src/styles/style';

.wrapperBettingFeed {
  padding: rem-calc(30px 22px 36px 25px);
  .description {
    font-size: rem-calc(28px);
    color: #FFFFFF;
    letter-spacing: 0;
    line-height: rem-calc(36px);
    .eventInfo, .odds {
      font-size: rem-calc(20px);
    }
    p {
      margin-bottom: 0;
    }
  }
  .bottomWrapper{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    img {
      margin-bottom: rem-calc(11px);
    }
    .content {
      font-size: rem-calc(16px);
      color: #FFFFFF;
      letter-spacing: 0;
      span {
        opacity: 0.8;
      }
    }
  }

  .email {
    margin: 0;
    color: $white;
    letter-spacing: 0;
    text-align: left;
  }
}
