@import './src/styles/style';

.wrapperBettingFeed {
  display: flex;
  justify-content: space-between;

  .item {
    //flex-grow: 1; /* default 0 */
    flex-basis: 49.7%;
    border: none;
    padding: 0;
  }

  .groupBook {
    //flex-grow: 1;
    background-color: "black";

  }
  .shake {
    //flex-grow: 1;
    background-color: "yellow";

  }
}
