@import './src/styles/style';

html {
  background: white;
}

.liveStreamingIndex {
  max-width: $app-width;
  margin: 0 auto;
  .container {
    background: white;
    padding: 0;
  }
  .listMatchTitle {
    background: rgba(29, 29, 38, 0.03);
    opacity: 0.5;
    font-size: rem-calc(10px);
    color: #1D1D26;
    line-height: rem-calc(10px);
    height: rem-calc(30px);
    font-weight: $bold;
    padding: rem-calc(10px);
    display: flex;
    align-items: center;
  }
  .listMatch {
    .matchItem {
      color: black;
      display: flex;
      &:hover {
        text-decoration: none;
      }
      .matchTime {
        background: #DDD;
        width: 25%;
        padding: rem-calc(9x 0);
        .league {
          font-size: rem-calc(10px);
          line-height: rem-calc(14px);
          text-transform: uppercase;
          text-align: center;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
        }
        .time {
          font-size: rem-calc(18px);
          line-height: rem-calc(18px);
          padding: rem-calc(4px 0);
          text-align: center;
        }
      }
      .matchInfo {
        width: 100%;
        padding: rem-calc(22px 24px);
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #d8d8d8;
        align-items: center;
        .team {
          width: 40%;
          &:last-child {
            text-align: left;
            padding-left: rem-calc(20px);
          }
          &:first-child {
            text-align: right;
            padding-right: rem-calc(20px);
          }
          .teamFlag {
            width: rem-calc(30px);
          }
          .teamName {
            font-weight: $normal;
            font-size: rem-calc(16px);
            margin: 0;
          }
          .home {
            margin-left: rem-calc(8px);
          }
          .away {
            margin-right: rem-calc(8px);
          }
        }
        .vs {
          width: 20%;
          background: #00CE7D;
          border-radius: 2px;
          font-size: 12px;
          color: #FFFFFF;
          letter-spacing: 0;
          text-align: center;
          line-height: 12px;
          padding: rem-calc(4px 10px);
        }
      }
    }

    .matchItem:hover {
      .matchTime {
        background: #27ae5e;
        color: #FFF
      }
      //.matchInfo {
      //  background: #555;
      //  color: #FFF
      //}
    }

    .matchItem + .matchItem {
      margin-top: rem-calc(2px);
    }
  }
  .hightlightVideos {
    margin-top: rem-calc(50px);
    padding: rem-calc(10px);
    p {
      font-size: 9.39px;
      color: #000000;
      letter-spacing: 0;
      font-weight: $bold;
      margin-bottom: rem-calc(20px);
    }
    ul {
      padding-left: 0;
    }
    li + li {
      margin-top: rem-calc(17px);
    }
    li {
      display: flex;
      align-items: center;
      iframe {
        width: 107px;
        height: 61px;
      }
      div {
        font-size: rem-calc(11.95px);
        color: #000000;
        letter-spacing: 0;
        line-height: rem-calc(17.92px);
        font-weight: $normal;
        padding-left: rem-calc(8px);
      }
    }
  }
}
