@import './src/styles/style';

.container {
  padding: 0;
}

.matchDetail {
  .matchDetailInfo {
    background: #F5F5F5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: rem-calc(22px 24px);
    .team {
      .teamFlag {
        width: rem-calc(40px);
      }
      .teamName {
        font-weight: $normal;
        font-size: rem-calc(16px);
        margin: 0;
      }
      .home {
        margin-right: rem-calc(5px);
      }
      .away {
        margin-left: rem-calc(5px);
      }
    }
    .time {
      background: #00CE7D;
      border-radius: 2px;
      font-size: 12px;
      color: #FFFFFF;
      letter-spacing: 0;
      text-align: center;
      line-height: 12px;
      padding: rem-calc(4px 10px);
    }
  }
  .liveBox {
    iframe {
      width: 100%;
      max-height: 500px;
      min-height: 300px;
    }
  }
  .share-block {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: rem-calc(18px);
    padding: rem-calc(20px 10px);
    background: rgba(29,29,38,0.03);
    .text {
      width: 60%;
      margin: 0;
      font-size: 1rem;
      font-weight: $medium;
    }
    .share {
      width: 40%;
      display: inline-block;
      text-align: right;
    }
  }

  .links {
    margin-top: rem-calc(50px);
    p {
      font-size: 9.39px;
      color: #000000;
      letter-spacing: 0;
      font-weight: $bold;
    }
    ul {
      list-style: none;
      li {
        color: blue;
        &:hover {
          cursor: pointer;
        }
      }

      .active {
        opacity: 0.65;
      }
    }
  }
}
