.refers{
    .button{
         font-size: 14px;
         padding: 10px;
    };
    input{
        font-size: 14px;
        padding: 10px;
    }
    form{
        margin-top: 40px;
    };
    .no-padding-left{
        padding-left: 0;
    };
    .referLinkBox{
        margin-top: 40px;
    }
    .text-danger{
        font-size: 14px;
    }
    h6{
        line-height: 25px;
    }
}
.refers-wrapper{
    h6{
        line-height: 25px;
    }
}