@import './src/styles/style';

.feed-wrapper {
  margin-bottom: 7px;
  padding-left: 7px;
  padding-right: 7px;

  &:last-child {
    margin-bottom: 0;
  }
  .feed {
    margin-bottom: 7px;
    padding: rem-calc(10px 25px 10px 15px);
    min-height: 120px;
    border-radius: 6px;
    position: relative;
  }
  
  .name {
    font-size: rem-calc(16px);
    color: $white;
    margin-bottom: 0;
  }
  .balance {
    font-size: rem-calc(20px);
    color: $white;
    letter-spacing: 0;
    font-weight: 300;        
  }

  .address {
    margin: 0;
    font-size: rem-calc(12px);
    color: $white;
    letter-spacing: 0;
    text-align: left;
    bottom: 12px;
    position: absolute;
  }
  .more{
    top: 12px;
    right: 12px;
    position: absolute;
    cursor: pointer; 
  }
  .safe{
    bottom: 12px;
    right: 12px;
    position: absolute;
    cursor: pointer; 
  }
}

.headerBox{
  margin-top: 15px;
  margin-left: 8px;
  margin-bottom: 10px;  
  margin-right: 10px;
  width: 100%;
}

.headerText{
  font-size: 20px;  
  font-family: Helvetica;
  color: #090909;
  letter-spacing: 0;
}
.headerLink{  
  font-family: Helvetica;
  font-size: 16px;
  color: #1E4EFF;
  letter-spacing: 0;
  cursor: pointer; 
  float: right;
  margin-top: 5px;
}
.iconDefault{
  margin-left: 5px
}

.category-wrapper {
  margin-bottom: rem-calc(42px);
}
.list{
  margin-left: -7px;
  margin-right: -7px;
  display: flex;
  flex-wrap: wrap;
}

.col-sm-6 {
    flex: 0 0 50%;
    max-width: 50%;
}
.eth-wallet-bg {
    background-image: url('../../assets/images/pages/wallet/eth-wallet-bg.svg');
}
.btc-wallet-bg {
    background-image: url('../../assets/images/pages/wallet/btc-wallet-bg.svg');
}
.testnet-wallet-bg {
  background-image: url('../../assets/images/pages/wallet/testnet-wallet-bg.svg');
}
.xrp-wallet-bg {
  background-image: url('../../assets/images/pages/wallet/xrp-wallet-bg.svg');
}
.bottom-sheet-wrapper {
  -webkit-transition: opacity 500ms cubic-bezier(0.03, 0.72, 0.36, 0.99);
  -moz-transition: opacity 500ms cubic-bezier(0.03, 0.72, 0.36, 0.99);
  -ms-transition: opacity 500ms cubic-bezier(0.03, 0.72, 0.36, 0.99);
  -o-transition: opacity 500ms cubic-bezier(0.03, 0.72, 0.36, 0.99);
  transition: opacity 500ms cubic-bezier(0.03, 0.72, 0.36, 0.99);
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 998;
  width: 100%;
  height: 100%;
  opacity: 0;
}
.bottom-sheet-wrapper .bottom-sheet-block-layer {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}
.bottom-sheet-wrapper .bottom-sheet {
  -webkit-transition: transform 500ms cubic-bezier(0.03, 0.72, 0.36, 0.99);
  -moz-transition: transform 500ms cubic-bezier(0.03, 0.72, 0.36, 0.99);
  -ms-transition: transform 500ms cubic-bezier(0.03, 0.72, 0.36, 0.99);
  -o-transition: transform 500ms cubic-bezier(0.03, 0.72, 0.36, 0.99);
  transition: transform 500ms cubic-bezier(0.03, 0.72, 0.36, 0.99);
  -webkit-transform: translate3d(0px, 100%, 0);
  -moz-transform: translate3d(0px, 100%, 0);
  -ms-transform: translate3d(0px, 100%, 0);
  -o-transform: translate3d(0px, 100%, 0);
  transform: translate3d(0px, 100%, 0);
  position: absolute;
  bottom: 0px;
  z-index: 999;
  width: 100%;
  background-color: #fff;
}
.bottom-sheet-wrapper.hide {
  display: none;
}
.bottom-sheet-wrapper .bottom-sheet-item {
  display: block;
  width: 100%;
  background-color: #fff;
  text-align: center;
  padding: 20px 0;
  border: none;
  border-top: 1px solid #ededed;
  font-size: 16px;
}
.bottom-sheet-wrapper .bottom-sheet-item.cancel {
  color: #d0021b;
}
.bottom-sheet-wrapper .toast {
  bottom: 110%;
}
.bottom-sheet-wrapper.enter {
  opacity: 1;
}
.bottom-sheet-wrapper.enter .bottom-sheet {
  -webkit-transform: translate3d(0px, 0px, 0);
  -moz-transform: translate3d(0px, 0px, 0);
  -ms-transform: translate3d(0px, 0px, 0);
  -o-transform: translate3d(0px, 0px, 0);
  transform: translate3d(0px, 0px, 0);
}