@import './src/styles/style';

.wrapperTopInfoContainer {
  display: flex;
  //flex-wrap: wrap;
  justify-content: space-between;
  padding: rem-calc(10px 0 2px 0);
  .modal-info-betting {
    p {
      margin-top: 12px;
      font-size: 1rem;
      font-weight: $normal;
    }
  }
}

.boxInfo {
  //background-color: #1a3d7a;
  background-color: #1F2B34;

  color: white;
  padding: rem-calc(5px);
  flex-basis: 33%;
  .number {
    font-size: rem-calc(14px);
    font-weight: bold;
    text-align: center;
  }
  .des {
    font-size: rem-calc(12px);
    text-align: center;
    opacity: 0.55;
  }
  a {
    color: white;
  }
}

.addAComment {
  align-items: center;
}
