// style
//@import './../../../../src/styles/style';
@import './src/styles/style';

.rdt {
  input[readonly] {
    background-color: #fff;
  }
}
.disabled-datePicker{
  cursor: not-allowed;
  background-color: #e9ecef !important;
}
