.btn-current-location {
  position: absolute;
  right: 10px;
  bottom: 250px;

  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
  border-radius: 2px;
  cursor: pointer;
  background-color: #ffffff;
  width: 40px;
  height: 40px;

  border: 0px;
  margin: 0px;
  padding: 0px;

  -webkit-appearance: none;
  -moz-appearance:    none;
  appearance:         none;
  &:focus {
    outline: none;
  }
}

.container-button {
  position: absolute;
  bottom: 160px;
  left: 8px;
  width: 308px;
  button {
    font-size: 16px;
    font-family: 'AppleSystemUIFont', sans-serif;
  }
  .btn-dashboard {
    color: rgb(86, 86, 86);

  }
  .btn-manage-atm {
    background: #546FF7;
    color: #FFFFFF;
  }
}
