
.stationInfoWrapper {
  width: 180px;
  background: #FFFFFF;
  box-shadow: 0 2px 8px 0 rgba(170,170,170,0.50);
  border-radius: 5px;
  padding: 8px;
}

.stationInfo {
  font-family: motiva-sans, sans-serif;
  letter-spacing: 0;
  .info-div {
    width: 94%;
  }
  .s-name {
    font-weight: 600;
    font-size: 12px;
    color: #484848;
    line-height: 24px;
  }
  hr {
    margin-top: 8px !important;
    margin-bottom: 8px !important;
  }
  .s-label {
    font-size: 12px;
    color: #868686;
  }
  .s-value {
    font-weight: 600;
    font-size: 12px;
    color: #484848;
  }
  .btn-close {
    position: absolute;
    right: 2px;
    top: 2px;
  }
  .buy-price {
    color: #4CD964;
  }
  .sell-price {
    color: #F86C4F;
  }
}
