@import './src/styles/style';

.wrapperGroupBook {
  padding: rem-calc(14px 20px);
  background: #1F2B34;
  height: 100%;
  .wrapperBettingBook + .wrapperBettingBook {
    margin-top: rem-calc(4px);
  }

  .noData {
    color: #fff;
  }
}

.wrapperGroupBook + .wrapperGroupBook {
  margin-top: rem-calc(2px);
}
