@import './src/styles/style';

.wrapperGroupBook {
  //padding: rem-calc(10px);
  background: #1F2B34;
  height: 100%;
  .wrapperBettingBook + .wrapperBettingBook {
    margin-top: rem-calc(4px);
  }
}

.noData {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.wrapperGroupBook + .wrapperGroupBook {
  margin-top: rem-calc(2px);
}
