.shake-detail {
  //background: grey;
  .text {
    color: #9a9ea2;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 22px;
  }
  .input {
    //color: #c5c4c9;
    width: 100%;
    padding: 2px 50px 2px 10px;
    background: #5a626a;
    border: 2px solid #6f767d;
    outline: none;
    line-height: 34px;
    -webkit-appearance: none;
    -moz-appearance:    none;
    appearance:         none;

    font-weight: 500;
    font-size: 16px;
    color: #C8C7CC;
    letter-spacing: 0;
  }
  .append-text {
    position: absolute;
    right: 10px;
    top: 10px;

    font-weight: 500;
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 0;
  }
  .hl {
    background-color: #5c626a;
    margin: 10px 0;
  }
  .text-total {
    font-weight: 500;
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 0;
  }
}
