.shake-detail {
  //background: grey;
  .text {
    color: #9a9ea2;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 22px;
  }
  .input-group-shake-detail {
    width: 45%;
    display: table-cell;
    position: relative;
  }
  .approximate-icon {
    width: 10%;
    display: table-cell;
    color: #ffffff;
    text-align: center;
  }
  .input {
    background: rgba(216,216,216,0.14);
    border: 2px solid rgba(255,255,255,0.15);
    //color: #c5c4c9;
    width: 100%;
    padding: 2px 40px 2px 10px;
    outline: none;
    line-height: 34px;
    -webkit-appearance: none;
    -moz-appearance:    none;
    appearance:         none;

    font-weight: 500;
    font-size: 16px;
    color: #ffffff;
    letter-spacing: 0;
  }
  .append-text {
    position: absolute;
    right: 5px;
    top: 10px;

    font-weight: 500;
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 0;
  }
  .hl {
    background-color: #5c626a;
    margin: 10px 0;
  }
  .text-total {
    font-weight: 500;
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 0;
  }
  .btn-shake-detail {
    span {
      margin: 0;
      vertical-align: unset;
    }
  }
}

.dialog-shake-detail {
  .modal-custom-body {
    background: #000B35;
    border-radius: 4px;
    padding: 20px !important;
  }
}
