.app-header {
  position: relative;
  min-height: 88px;
  line-height: 88px;
  background-color: $white;
  box-shadow: 0 2px 7px 0 rgba(120, 137, 149, 0.1);
  color: $app_header_a;
  a {
    color: $app_header_a;
  }
  .logo-container {
    float: left;
    a {
      display: block;
      height: 88px;
    }
  }
  .nav-cointainer {
    float: left;
    margin-left: 20px;
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }
  }
  .right {
    height: 88px;
  }
}
