.app-sidebar-container {
  transition: 0.3s;
  float: left;
  width: 240px;
  .app-sidebar {
    width: 240px;
    background-color: $app_background;
    min-height: calc(100vh - 88px);
    padding: 30px;
    font-size: 14px;
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        &.selected {
          a {
            color: $green;
          }
        }
        a {
          color: $black;
          font-weight: bold;
          text-decoration: none;
          padding: 10px 0;
          display: block;
          transition: 0.1s;
          &:hover {
            color: $green_hover;
          }
        }
      }
    }
  }
  @include respond(md) {
    width: 0;
    overflow: hidden;
  }
}
