h1, h2, h3, h4 {
  font-weight: 500;
}
h5, h6 {
  font-weight: bold;
}
h1 { font-size: 45px; }
h2 { font-size: 40px; }
h3 { font-size: 38px; }
h4 { font-size: 35px; }
h5 { font-size: 32px; }
h6 { font-size: 28px; }

@include respond(md) {
  h1 { font-size: 30px; }
  h2 { font-size: 25px; }
  h3 { font-size: 22px; }
  h4 { font-size: 20px; }
  h5 { font-size: 18px; }
  h6 { font-size: 17px; }
}

@include respond(sm) {
  h1 { font-size: 25px; }
  h2 { font-size: 22px; }
  h3 { font-size: 20px; }
  h4 { font-size: 18px; }
  h5 { font-size: 16px; }
  h6 { font-size: 15px; }
}
