@import './src/styles/style';

.faq {
  display: flex;
  height: 100%;
  margin: 0 auto;
  padding: rem-calc(57px 0);
  font-family: anonymous-pro, monospace;
  font-style: normal;
  .headerPage {
    display: flex;
    align-items: center;
    font-size: rem-calc(21px);
    color: #fff;
    letter-spacing: 0;
    margin-bottom: rem-calc(78px);
    img {
      width: rem-calc(86px);
      margin-right: rem-calc(18px);
    }
    .yellow {
      color: #FFFF00;
    }
  }
  h1 {
    font-size: rem-calc(48px);
    color: #FFFFFF;
    letter-spacing: 0;
    margin-bottom: (59px);
  }
  .collapse-custom {
    border-bottom: 2px solid #3D3D3D;
    font-weight: $normal;
    .head {
      padding: rem-calc(12px 0);
      display: flex;
      flex-wrap: wrap;
      &:hover {
        cursor: pointer;
      }
      .label {
        width: 90%;
        margin: 0;
        font-size: rem-calc(20px);
        color: #FFFFFF;
        letter-spacing: 0;
        padding-left: rem-calc(54px);
        font-weight: $medium;
        .index {
          color: #FFFF00;
          position: relative;
          left: rem-calc(-54px);
        }
      }
      .extend {
        width: 10%;
        text-align: right;
        img {
          transform: rotate(90deg);
        }
        .rotate {
          transform: rotate(0);
        }
      }
    }
    .noList {
      opacity: 0.75;
    }
    .content {
      margin-bottom: rem-calc(18px);
      padding-left: rem-calc(88px);
      padding-right: rem-calc(54px);
      font-size: rem-calc(16px);
      color: #FFFFFF;
      letter-spacing: 0;
      line-height: rem-calc(27px);
      dl {
        dt {
          &:before {
            content: url("../../assets/images/ninja/shuriken-icon.svg");
            width: 21px;
            height: 21px;
            margin-right: 15px;
            position: relative;
            top: 5px;
          }
          opacity: 1;
          font-size: rem-calc(18px);
          font-weight: $medium;
          letter-spacing: 0;
          line-height: rem-calc(29px);
        }
        dd {
          padding-left: 36px;
          opacity: 0.85;
          font-size: rem-calc(16px);
          color: #FFFFFF;
          letter-spacing: 0;
          line-height: rem-calc(29px);
        }
        dd + dt {
          margin-top: rem-calc(20px);
        }
      }
    }
  }
  .collapse-custom + .collapse-custom {
    margin-top: rem-calc(17px);
  }
}
