@import './src/styles/style';

.no-data {
  height: 80vh;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
  justify-content: center;
  .img {
    margin-bottom: rem-calc(22px);
  }
  .text {
    font-size: rem-calc(24px);
    color: $titan-black;
  }
}
