@import './src/styles/style';

.wrapperMechanicLuckyDraw {
  font-family: $font-family-base;
  font-size: rem-calc(14px);
  color: #484848;
  line-height: 30px;

  .desktop {
    display: flex;

  }
  .wrapperLuckyDraw {

    .wrapperContent {
      width: 100%;
      margin-top: 35px;
    }

    .wrapperluckyDrawTitle {
      position: relative;
    }
    .luckyDrawContent {
      margin-top: 20px;
    }

    .yellowLine {
      width: 198px;
      height: 7px;
      background-color: #F6DA25;
      position: absolute;

    }
    .one {
      top: -4px;
      left: 0;
    }
    .two {
      top: 9px;
      left: 0;
    }
    .luckyDrawTitle {
      font-size: rem-calc(35px);
      font-weight: 800;
    }
  }
  .wrapperTermCondition {
    font-size: rem-calc(11px);

  }
  .wrapperMechanic {
    margin-top: 20px;

    .mechanicTitle {
      font-size: rem-calc(25px);
    }
    .mechanicContent {
      margin-top: 20px;
    }
  }
  .wrapperHeader {
    margin-top: 20px;
    .headerImage {
      margin-bottom: 50px;
    }
  }

}
