@import './src/styles/style';

.wrapperBettingShake {
  padding: rem-calc(30px 30px 30px 30px);
  background: #3A444C;
  //box-shadow: 0 2px 4px 0 rgba(203,203,203,0.50);
  font-family: $font-family-base;
  height: 100%;
  .rowWrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: rem-calc(10px);
    .btn-block + .btn-block {
      margin-top: 0;
    }
  }

  .rowWrapper + .rowWrapper {
    //margin-top: rem-calc(20px);
    display: flex;
    justify-content: space-between;
    color: white;
    font-size: 0.75rem;
  }

  .rowWrapper:nth-child(3) {
    margin-top: rem-calc(30px);
  }
  .gasPriceTitle {
    width: 50%;
  }

  .line {
    opacity: 0.17;
    border-bottom: 1px solid #979797;;
  }
  .cryptoCurrency, .input {
    font-size: rem-calc(18px);
    color: #000000;
    letter-spacing: 0;
    line-height: rem-calc(22px);
  }
  .input {
    flex-basis: 100%;
    background: rgba(216,216,216,0.14);
    border: 2px solid rgba(255,255,255,0.15);
    font-size: rem-calc(14px);
    color: #C8C7CC;
    letter-spacing: 0;
    padding: rem-calc(10px 11px);
    width: 100%;
  }
  .amount {
    margin-bottom: -35px;
  }
  .amount + .cryptoCurrency {
    font-size: rem-calc(14px);
    font-weight: $medium;
    color: #FFFFFF;
    letter-spacing: 0;
    position: relative;
    top: 6px;
    left: 88%;
    @media (max-width: 330px) {
      left: 84%;
    }
  }
  .odds + .cryptoCurrency {
    font-size: rem-calc(14px);
    font-weight: $medium;
    color: #FFFFFF;
    letter-spacing: 0;
    position: relative;
    bottom: 26px;
    left: 70%;
    @media (max-width: 375px) {
      left: 68%;
    }
    @media (max-width: 330px) {
      left: 35%;
    }
  }
  .yourOdds +  .cryptoCurrency {
    left: 74%;
    @media (max-width: 375px) {
      left: 56%;
    }
    @media (max-width: 330px) {
      left: 47%;
    }
  }
  .input[readOnly] {
    border-bottom: none;
  }
  .amountInput {
    display: flex
  }
  .titleLable {
    flex-shrink: 0;
    flex-basis: 100%;
    font-size: rem-calc(12px);
    color: #fff;
    letter-spacing: 0;
    line-height: rem-calc(22px);
    margin: 0;
    opacity: 0.66;
  }
  .value {
    //flex-basis: 20%;
    //margin-left: rem-calc(40px);
    //margin-right: rem-calc(15px);
  }
  .atOdds {
    font-size: rem-calc(18px);
    color: #D0021B;
    letter-spacing: 0;
  }
  .remaining {
    color: #D5D5D5;
    font-size: rem-calc(26px);
  }
  .total {
    color: #1745FF;
    font-size: rem-calc(22px);
    & + .cryptoCurrency {
      font-size: rem-calc(22px);
      color: #000000;
      letter-spacing: 0;
    }
  }
  .btnOK {
    background: #FA6B49;
    border-radius: rem-calc(2px);
    font-size: rem-calc(16px);
    color: #FFFFFF;
    letter-spacing: 0;
    margin-top: rem-calc(20px);
    border: none;
    font-weight: $medium;
  }
  .btnRed {
    background: #FA6B49;
  }
  .btnBlue {
    background: $caribbean-green;
  }
  .titleForm {
    opacity: 0.9;
    font-size: rem-calc(16px);
    color: #FFFFFF;
    letter-spacing: 0;
    font-weight: bold;
    margin-bottom: rem-calc(20px);
    text-transform: uppercase;
  }
  .possibleWinningsValue {
    font-weight: $medium;
    font-size: rem-calc(14px);
  }

}
.wrapperTooltipShake {
  margin-left: 9px;
}
