.refers{
    .button, button{
         font-size: 14px;
         padding: 10px;
         height: 43px!important;
    };
    input{
        font-size: 14px;
        padding: 10px;
    }
    form{
        margin-top: 40px;
    };
    .no-padding-left{
        padding-left: 0;
    };
    .referLinkBox{
        margin-top: 40px;
    }
    .text-danger{
        font-size: 14px;
    }
    h6{
        line-height: 25px;
        margin-bottom: 5px;
    }
    h5{
        margin-top: 20px;
        font-weight: normal;
        margin-bottom: 5px;
    }
    .padding-right-10{
        padding-right: 20px;
    }
}
.refers-wrapper{
    h6{
        line-height: 25px;
    }
    .note{
        font-size: 13px;
        text-align: right;
        margin-top: 5px;
    }
}

.refers-wrapper{
    margin-top: 15px !important;
    margin-bottom: 30px !important;
    h6 a{
      text-decoration: underline;
    }
    .col1{ width: 60%; }
    .col2{ width: 38%; float:right}
    .col100{ width:100%; padding-bottom: 10px}
    .token{
      margin-top: 20px;
      padding-bottom: 0px;
    }
    .reset-link{
      padding-top: 10px;
      font-size: 13px;
      color:#007bff !important;
      cursor: pointer;
    }
  }

  .refers-wrapper-border{
    // border-top:solid 1px #ced4da;
    padding-top: 20px;
    padding-bottom: 60px;
  }

  .refers-dashboard{
    margin-top:20px;

    .refers-wrapper{
      padding-top: 20px;
      border-top:solid 1px #9a9a9a;
      margin-top: 20px !important;
    }

    .info div{
      padding-top: 5px;
    }
  }
